[2016-06-07 18:03] olawlor opened #1 "Heartbeat Architecture Change"
Change heartbeat to old_heartbeat!=new_heartbeat instead of new_heartbeat=old_heartbeat+1.

[2016-06-07 18:04] mrmoss opened #2 "Video Disconnect Heartbeat"
Use the same underlying heartbeat infrastructure for use with the video dropdown. If video is being viewed, update the heartbeat. If video is not being video, don't update the heartbeat.

[2016-06-07 18:04] olawlor opened #3 "Backend uses a lot of network"
Look at the backend network traffic, and 4 times per second there's a "?sub" request for the year, school, and robot name.  This is way too often.

[2016-06-07 18:10] mrmoss opened #4 "Old Superstar on Backend"
Backend uses the superstar you had selected the last time you closed (saved) rather than the one you actually have selected.

[2016-06-07 18:21] olawlor opened #5 "Sensors on frontend: blank!"
Sensor data listing on frontend is currently blank, and attempts to read it fail.

[2016-06-07 18:40] olawlor commented on #5
Fixed--the new video_link stuff was throwing an exception if options was null, which takes out the whole networking stack.  The exception didn't even print to the console either.  Both are fixed.

[2016-06-07 18:40] #5 closed, assigned to olawlor

[2016-06-07 18:43] computations commented on #3
Doesn't seem like this is the case anymore, unless I am mistaken? All I see is a pilot heartbeat

[2016-06-07 19:14] olawlor commented on #1
Fixed, and it works!

[2016-06-07 19:14] #1 closed, assigned to Arsh25

[2016-06-07 19:15] olawlor commented on #3
Yes, I think it's fixed now.

[2016-06-07 19:15] #3 closed, assigned to olawlor

[2016-06-07 19:15] olawlor opened #6 "Backend app serial port is green before "connect""
Status should be red for a disconnected serial port.

[2016-06-07 19:16] olawlor opened #7 "Backend app does not reopen serial port"
Sometimes "disconnect" and "connect" on the app does not reboot the Arduino, requiring a manual plug/unplug cycle before communication works.

[2016-06-07 21:15] olawlor opened #8 "UI tab needs to be brought up automatically"
When I click "run" on a code sample that uses buttons or labels, the UI tab should immediately be shown and brought to the top.  Needing to know it exists breaks the flow with the code.

[2016-06-07 21:32] #4 closed, assigned to mrmoss

[2016-06-07 21:34] mrmoss commented on #6
Should it be red? It indicates green if a serial port is selected, red otherwise.

[2016-06-07 22:39] Arsh25 commented on #6
It should be green if the serial port is connected. So it's a connection status not like hey you have a port which is useless IMO.

[2016-06-07 22:56] mrmoss commented on #6
Sounds good.

[2016-06-07 22:56] #6 closed, assigned to mrmoss

[2016-06-07 22:58] mrmoss opened #9 "Possibility to load and save a file locally."
Teachers expressed interest in being able to load and save a file from the local machine.

[2016-06-07 23:13] #8 closed, assigned to mrmoss

[2016-06-07 23:25] mrmoss opened #10 "Frontend no longer saving."

[2016-06-07 23:26] mrmoss commented on #10
It was saving, just overwriting the old code with the first code's data. This was due to the new dropdown_t that was put in. Fixed.

[2016-06-07 23:26] #10 closed, assigned to mrmoss

[2016-06-07 23:31] mrmoss opened #11 "Code dropdown not functioning correctly."
Dropdown for the code doorway doesn't seem to work on Firefox and does weird things on Chrome (both on OSX).

[2016-06-08 00:17] mrmoss commented on #11
Problem with calling blur(), fixed for firefox and chrome.

[2016-06-08 00:17] #11 closed, assigned to mrmoss

[2016-06-08 00:42] olawlor opened #12 "See which pilots are watching robot"
The frontend should display which pilots are watching your robot while you're driving.

(Low-priority feature request, for AFTER workshop)

[2016-06-08 02:01] Arsh25 commented on #2
On test server

[2016-06-08 02:02] #2 closed, assigned to Arsh25

[2016-06-08 17:50] olawlor opened #13 "Per-robot chat room"
To coordinate backend and frontend, having a little chat room visible to everybody would help a lot.

[2016-06-08 17:52] Arsh25 commented on #13
Gruveo has chat inbuilt. We can just use that

[2016-06-08 18:01] Arsh25 opened #14 "FullScreen Gruveo in backend"
Gruveo cannot go full screen on the backend.

I know how to do this and will do it after the workshop

[2016-06-08 18:01] mrmoss opened #15 "Frontend should remember last robot used."
Maybe in a cookie or localstorage?

[2016-06-08 18:04] mrmoss opened #16 "Frontend should have default year as the current year."
If there's no cookie/localstorage/whatever was used to store the previous robot used, the year should at least be the current year.

[2016-06-08 19:09] Arsh25 opened #17 "Pilot should be able to play sounds"
Pilot should be able to play sounds to get people's attention. This came up in the group activity

[2016-06-08 20:08] FineTralfazz opened #18 "Formalized QA/testing and deployment process"
Normally, we move fast and break things, and that works fine -- until it doesn't, and we're making last-minute changes to try to fix things we broke with our previous last-minute changes. When the infrastructure is broken, we look bad, and when we look bad, people are less likely to work with us.

Here's a (maybe excessively bureaucratic) policy example I came up with:
- Every commit to master is

[2016-06-08 21:44] mfrancisco1 opened #19 "Example code should not be able to be overwritten"
when running example code with changes Code should prompt user to select a new name for the code

[2016-06-08 22:13] mrmoss opened #20 "Frontend needs readonly code examples."
Title says it all.

[2016-06-08 22:18] mrmoss opened #21 "New state should clear UI tab."
Going to a new state should wipe the old widgets and add the only ones to the UI tab.

[2016-06-08 22:21] olawlor opened #22 "Chrome App leaks sockets (sometimes)"
The backend can enter a state where Chrome just says "Waiting for socket" when connecting to robotmoose, probably due to leaked sockets (in "getnext"?).

This was observed after 15 minutes on a Windows 10 box, with several disconnects/reconnects.

[2016-06-08 22:23] FineTralfazz opened #23 "Code editor shouldn't auto-indent"
By default, the editor indents every line unless it has a semicolon. Since we're not making students use semicolons, this gets irritating for them.

[2016-06-08 22:24] FineTralfazz commented on #20
Duplicate of #19.

[2016-06-08 22:25] mrmoss commented on #23
We could turn off auto-indents...I'm not in favor of editing the codemirror API. We could use something else completely too.

[2016-06-08 22:26] #19 closed, assigned to mrmoss

[2016-06-08 22:27] mrmoss commented on #19
We do not have readonly code examples.

[2016-06-08 22:39] olawlor commented on #21
I agree.  If a state has no labels, nothing should show up in the UI tab.

[2016-06-08 22:40] olawlor commented on #18
Yes!   Bucky Frost is scheduled to build an automated test system this summer.  My vision was every night we have a dedicated box that builds an isolated superstar, flashes a Mega, connects a backend, configures the robot, etc.

[2016-06-08 22:57] olawlor opened #24 "Blockly drag-and-drop programming"
It'd be awesome to be able to use Google's Blockly to support drag and drop programming.

We need to keep the ability to switch back and forth to plain JavaScript.

[2016-06-08 22:59] olawlor opened #25 "Chrome Backend App should be able to play music"
It'd be nice to give kids the ability to play simple (preselected) sounds and music on the robot.

E.g., a "honk" to get people's attention.

[2016-06-08 23:03] FineTralfazz commented on #25
Duplicate of #17?

[2016-06-08 23:08] mrmoss opened #26 "Fix backup script on server to work with new placement of superstar."
Moved superstar from /home/itest/git/superstar to /opt/sites/robotmoose.com/superstar, need to fix backup script.

[2016-06-08 23:08] #26 closed, assigned to mrmoss

[2016-06-08 23:23] Arsh25 opened #27 "Finish device wheel_encoder"
The device wheel_encoder has been partially implemented on the chrome backend, complete this so that positioning actually works.
The device consists of 2 hall effect sensors and a wheelbase.

[2016-06-08 23:23] olawlor commented on #25
Yes, this is a dupe!

[2016-06-08 23:23] #25 closed, assigned to Arsh25

[2016-06-08 23:26] Arsh25 commented on #13
Is it crazy to use superstar to do this? Send chats to ?chat and just add them to both the frontend and backend

[2016-06-08 23:57] Arsh25 opened #28 "Robotmoose KT Drive Tutorial Images Broken"
The Images for the KT drive example on robotmoose are not found (404).

[2016-06-09 00:17] raikaDial opened #29 "Can't hit UI buttons during delay()"
In code interface, if you make a button in a state with a delay, the button will not work unless you time it so your press is not during a delay.

[2016-06-09 01:06] olawlor opened #30 "Frontend doorways should auto-resize correctly"
Add a device, configure button disappears...

[2016-06-09 05:00] #23 closed, assigned to raikaDial

[2016-06-09 06:29] raikaDial commented on #16
Defaults to first year in list, presumably the current year. Does not check cookies or anything.

[2016-06-09 06:29] #16 closed, assigned to raikaDial

[2016-06-09 06:31] Arsh25 commented on #16
Yep it's the last year added to superstar. No cookies currently but see #15

[2016-06-09 07:28] arcshock commented on #18
Greetings!

Indeed, I have been getting myself up to speed on the project and investigating a testing process that will best integrate with the team. There is also the possibility for extending the nightly build scripts so that tests can be executed locally to ensure a clean build before committing to remote.

[2016-06-09 17:15] Arsh25 opened #31 "Utility to copy robots"
Script or utility to create new robots from already existing robots. Ideally, the user will be able to specify what they want copied.

Eg: Make new KT's from a demo KT and copy over only the config or the config and example code.

[2016-06-09 17:34] computations commented on #31
Can't the expand_db tool be used for this, or am I not understanding the problem?

[2016-06-09 17:41] Arsh25 commented on #31
The expand_db tool could be used for this, But the idea behind this is to not have to expand the whole db to copy stuff over and then repackage it. This tool would use GET requests and superstar cgi params to copy stuff from one robot to another or maybe even multiple robots.

[2016-06-09 18:56] Michaeasmith commented on #28
This should already be fixed on git. It should work after the next pull on the server.

[2016-06-09 22:48] #28 closed, assigned to Michaeasmith

[2016-06-10 04:01] Arsh25 commented on #15
I think auth should not be stored

[2016-06-10 04:05] FineTralfazz commented on #15
If someone already has access to your computer, you have more important things to worry about than them moving a robot around.

[2016-06-10 04:07] Arsh25 commented on #15
In schools students may switch computers between classes, so they should not be able to drive a robot just because the auth is stored.

[2016-06-10 04:13] #15 closed, assigned to FineTralfazz

[2016-06-10 04:27] #21 closed, assigned to FineTralfazz

[2016-06-10 06:49] Michaeasmith opened #32 "Sim on backend app"
Add KT simulation functionality to backend app.

As a side note, teachers expressed to me that they loved letting the students practice driving in a simulation.

[2016-06-10 06:55] Michaeasmith opened #33 "Simplify loading map images"
Implement easier way to load map images of any scale, tied to a specific robot.

[2016-06-10 10:31] olawlor opened #34 "Backend causes apache to lock up"
Something about having many robots connected causes apache to need a restart.  This is not good for a reliable production system.

It's possible this is related to proxying our comet-style getnext requests.   If this is fixable in the apache config file, we should do that and document it so other people can use the same fix.   If it is not fixable, I'd be tempted to change our getnext implementati

[2016-06-10 21:07] FineTralfazz commented on #34
I haven't been able to make much progress on fixing Apache. I've found a few people with the same problem online, but no satisfactory answers. One of the suggested solutions seemed to help a little, but it only delayed the hang. Here are a few way we might be able to work around this:
- Switch back to polling.
- Change the getnext implementation from comet to WebSockets, which [Apache has a module

[2016-06-10 21:13] mrmoss commented on #34
Short term solution:
Setup a box at superstar.robotmoose.com that only does superstar, then Apache isn't getting in the way.

[2016-06-10 22:05] olawlor opened #35 "Issue tracker does not include issues from kanban board"
We need to copy issues from the post-its on the wall in Chapman 204 to this issue tracker.

[2016-06-10 22:06] mrmoss opened #36 "Serial port needs sim mode"
Cannot use simulator on chromeapp.

[2016-06-10 22:08] Arsh25 commented on #36
Duplicate of #32. Closed

[2016-06-10 22:08] #36 closed, assigned to mrmoss

[2016-06-10 22:26] mrmoss opened #37 "Recursive "directory" based passwords for superstar."
Superstar currently has key based passwords. We want to change this to recursive based per directory.
Having the password for **/robots/2016/uaf/2016** should allow you to write to **robots/2016/uaf/2016/***.

[2016-06-10 22:28] mrmoss opened #38 "Frontend/Backend password creation interface."
Users need to be able to create passwords on backend (note, we use https, so this shouldn't be too complicated)...

[2016-06-10 22:42] Michaeasmith commented on #24
Do we want to implement this within the existing state system? Or would this replace it?

We could create custom "state" blocks that function similarly to the current states (e.g. while loop within function call?).

[2016-06-10 22:44] Arsh25 commented on #24
I think the thing that came up during the meeting was it should be an additional option to the current system. So students can decide if they want to use the block interface or write code. I think some sort of direct translation from the blocks to the robotmoose language would be the easiest way to go.

[2016-06-11 00:39] arcshock opened #40 "Documentation for Layla mainboard"
Importing from Chapman Kanban board.

[2016-06-11 00:57] #14 closed, assigned to Arsh25

[2016-06-11 01:02] Arsh25 commented on #13
Looking into stuff that's already built. Disqus looks promising,

[2016-06-11 01:08] arcshock opened #41 "Create tutorials for multiple questions"

[2016-06-11 01:11] arcshock opened #42 "Add images to map drop down"
Add custom option to drop-down.

[2016-06-11 01:14] arcshock opened #43 "Federate Superstars"
Creation of local Superstars to allow local Superstars to communicate with parent nodes.

[2016-06-11 01:15] arcshock opened #44 "Touch events on frontend"

[2016-06-11 01:16] arcshock opened #45 "Underwater UAV"

[2016-06-11 01:20] arcshock opened #46 "Layla manipulator arm"
@dev-laurin

[2016-06-11 01:22] arcshock opened #47 "Drive UI makeover"
Import from Kanban board

[2016-06-11 01:27] arcshock opened #48 "Presence Sensing"
Import from Kanban board.

Be able to know where people are based on sensor data.

[2016-06-11 01:29] arcshock opened #49 "Android App"
Import from Kanban.

Robotmoose Cordova Android App.

[2016-06-11 01:31] arcshock opened #50 "Visualization of sensor data"
Import from Kanban board.

Charting - designing interface.

[2016-06-11 01:35] arcshock opened #51 "Authentication of frontend & backend"
Import from Kanban.

Authenticating backend & frontend password.

[2016-06-11 01:36] arcshock opened #52 "Neato Latency"
Import from Kanban board.

Measure and fix.

[2016-06-11 01:42] arcshock opened #53 "KT Tutorials"
Import from Kanban board.

[2016-06-11 01:45] arcshock commented on #35
Created issues for tickets in the _Back Log_ and _In Development_ sections.

[2016-06-11 02:06] permutationlock commented on #52
Issue was resolved by a previous commit.

[2016-06-11 02:06] #52 closed, assigned to permutationlock

[2016-06-11 02:33] olawlor commented on #13
Disqus was quite easy to add to NetRun, and allows a separate "room" per robot.  This is all the HTML it took; you identify the thread by an 'url', in our case robotmoose.com/robots/?robot=2016/uaf/bot

[code]

[2016-06-13 20:25] computations opened #54 "Update javascript console.log debug messages to include the source"
There are a few debug messages that are in the frontend and maybe the chrome app. For people who are not familiar with the codebase, determining where these debug messages come from is annoying. Just include the file and function that the console.log is coming from to make that faster

[2016-06-13 20:32] Arsh25 commented on #54
In both FireFox and chrome the console shows the file and line from where the message comes from.

[2016-06-13 20:38] computations commented on #54
guess im just blind

[2016-06-13 20:38] #54 closed, assigned to computations

[2016-06-13 21:10] mrmoss commented on #54
It shows the line number of the console.log, but the whole catch errors and print them out has bitten us before on several occasions, I'd personally prefer to find a way to catch, print, and rethrow the errors.

[2016-06-13 23:57] Arsh25 commented on #13
Looked into Disqus and have a test version on my local system. Big issue is all comments posted as a guest need to be approved.

[2016-06-14 00:23] mrmoss commented on #13
https://github.com/mrmoss/pychat

[2016-06-14 04:33] mrmoss commented on #51
Duplicate #37 and #38. Closing.

[2016-06-14 04:33] #51 closed, assigned to mrmoss

[2016-06-14 05:01] #37 closed, assigned to mrmoss

[2016-06-14 05:05] mrmoss opened #55 "Superstar doesn't understand multi-slashes."
Web browsers treat "/superstar//////leaf" as "/superstar/leaf", superstar does not.

[2016-06-14 05:05] #55 closed, assigned to mrmoss

[2016-06-14 05:06] Arsh25 commented on #13
I like the idea of using Mike's chat system On hold awaiting discussion with or approval from @olawlor

[2016-06-14 18:57] #35 closed, assigned to arcshock

[2016-06-15 02:17] mfrancisco1 opened #56 "backend icon"
- help to define differences among software / parts one idea is to redraw RobotMoose icon to something like this for the backend:
  ![moose-backend](https://cloud.githubusercontent.com/assets/13486105/16065971/4f00e36c-327d-11e6-933b-f44ea2c1ee00.gif)
  This example is hacked together and assuming whoever did the original artwork can update it fairly easily

M

[2016-06-15 02:19] Arsh25 commented on #56
Umm, that's a good idea but the kids will start making unwanted connections. :P

[2016-06-15 02:21] atupek commented on #56
omg, that is too funny

On Tue, Jun 14, 2016 at 6:19 PM, Arsh Chauhan notifications@github.com
wrote:

[2016-06-15 02:24] mfrancisco1 commented on #56
kids will be kids, especially with South Park as style guide

[2016-06-15 04:09] mfrancisco1 opened #57 "adjust values of ui elements during realtime"
I want to adjust the speed of the roomba while it runs the bumpfollow routine (see "realtime bumperfollow" code in 2016/uaf/roomba4) but UI is disabled while in another state.

in this code I used delay as sanity check.  Note that the button has a different behavior than the slider when using the delay to access them in the loop.  With a delay I can quickly click the slider to change value with a

[2016-06-15 04:10] Arsh25 commented on #57
Button not working with a delay is a known bug and we are working on it. See issue #29.

We pushed an update that clears the UI on a state change  (see #21)so the old UI not showing while in another state is working as intended. This was done to prevent clutter on the ui window.

[2016-06-15 04:46] #57 closed, assigned to FineTralfazz

[2016-06-15 05:03] mfrancisco1 opened #58 "create ui widgets that do not wipe during runtime OR ui clear command"
might be better to make a command for students to use that clears ui if ui gets cluttered
re issue #21

[2016-06-15 06:26] Michaeasmith opened #59 "Enable duplicate labels on UI"
Currently, if you try to add a label to the UI with the same string as an existing label, it will do nothing and show no error message.

This is a problem in some cases. For example, if you are using labels to display multiple different numbers (e.g. sensor readings), one will not display if it is the same number as another label.

Buttons and checkboxes behave the same way. Should they be changed

[2016-06-15 06:31] Arsh25 commented on #59
I talked to @mrmoss about this way back and apparently this was a conciois decision to not allow multiple UI elements with the same name.

[2016-06-15 06:37] mrmoss commented on #59
Yes, this is the same bug that doesn't update the UI buttons and such. The
UI stores a list of UI elements, if the element's value already exists,
then it isn't created.

We should discuss this in detail at the next meeting (Wednesday) and decide
exactly how this should function.
On Jun 14, 2016 22:31, "Arsh Chauhan" notifications@github.com wrote:

@mikemoss https://github.com/mikemoss

—
You are

[2016-06-15 06:55] Arsh25 commented on #58
@mrmoss  let's talk about this during the developers sessiom tomorrow

[2016-06-15 22:19] Michaeasmith commented on #58
I cant make it to the developer session today due to doctor appointment, but one option would be to clear the UI as we do now, but give each object an optional "persist" parameter. If persist is defined, the object behaves as all objects used to (checks for duplicate, is not cleared). Objects without persist behave as objects do now, except they won't check for duplicates (I think clearing automat

[2016-06-15 22:27] Arsh25 commented on #56
Unanimous decision to use the icon

[2016-06-15 23:38] mrmoss commented on #56
Done.

[2016-06-15 23:38] #56 closed, assigned to mrmoss

[2016-06-15 23:40] mrmoss opened #60 "Frontend needs to actually use authentication."
All auth codes are "" and not pulled from the input.

[2016-06-15 23:40] mrmoss opened #61 "Frontend has no authentication failed notification"

[2016-06-16 00:00] Arsh25 opened #62 "Backend Checkmarks"
Look into changing the backend checkmark glyphs to something more obvious from all angles. som e suggestion are:
- X and O
- Thumbs up and down
- Smilie faces

[2016-06-16 06:43] Arsh25 commented on #59
Closed duplicate of #58

[2016-06-16 20:44] #60 closed, assigned to mrmoss

[2016-06-16 20:44] mrmoss opened #63 "Backend needs to have authentication input and use it."

[2016-06-16 21:18] FineTralfazz commented on #22
I've been looking into this today. I think I found where the problem is, I just need to decide how to fix it.

[2016-06-16 21:21] FineTralfazz opened #64 "Backend app should remember the last selected serial device"

[2016-06-16 21:24] Arsh25 commented on #64
Should it really? The typical usage scenario has only one serial pet anyways. Also what happens if the Arduino is plugged I to a different port, it'll remember a now defunct port.

It currently selected the first one it sees and that is usually ok

[2016-06-16 21:53] #22 closed, assigned to FineTralfazz

[2016-06-16 21:59] FineTralfazz commented on #64
You're right that our standard Chromebook student setup only has the one serial port, but it's really irritating during development when you have multiple serial devices and the default isn't your Arduino. While fixing #22, I had to change the dropdown every time I reloaded the app. I reloaded the app a lot. It was unpleasant.

If the remembered port doesn't exist, just select the first one or wha

[2016-06-16 22:00] FineTralfazz commented on #34
I'm curious to see if fixing the socket leaks (#22) also fixes this.

[2016-06-16 22:03] Arsh25 commented on #34
Test it. Fire up 4-5 roombas and just keep connected for a while

[2016-06-16 22:03] Arsh25 commented on #34
I think 4-5 Arduinos connected to a backend and a pilot should be a good enough test too.

[2016-06-16 22:36] mrmoss commented on #64
It should remember the last serial port used. If the last serial port used isn't plugged in, then they should have to choose it. The serial interface on my OSX machine seems to be broken entirely.

[2016-06-16 23:08] #64 closed, assigned to mrmoss

[2016-06-17 00:32] Michaeasmith opened #65 "Code editor: Strange behavior of blocking functions (e.g. forward)"
If a blocking function like forward() is executed in an "if" statement, and the condition changes to false before the function finishes (i.e. before the robot travels the full distance), the function will stop. This means that the following code will make the robot travel forward forever without stopping:

if (!store.condition)
{
    forward(10);
    stop();
}
store.condition = 1

And this code wi

[2016-06-17 17:47] mfrancisco1 opened #66 "Add default change option to checkbox"
For example:
store.v = false
checkbox("reverse motors", store.v)

[2016-06-17 20:40] mrmoss opened #67 "Pressing enter on auth input on frontend should be the same as clicking connect."
Comment says it all...

[2016-06-17 20:43] #67 closed, assigned to mrmoss

[2016-06-17 20:47] Michaeasmith commented on #66
On git for testing. It requires the parameter to be in quotes. For the variable store.v it accepts "store.v" or "v". So the following lines of code do the same thing:

store.v = false
checkbox("reverse motors", "store.v")

OR

store.v = false
checkbox("reverse motors", "v")

In my implementation, an unchecked checkbox does nothing, and a checked checkbox sets the variable to true (regardless of th

[2016-06-17 20:51] mrmoss commented on #66
What happens if you do:
  var v=false
  checkbox("reverse motors", "v")

If it doesn't do v instead of store.v, is it possible to change that?

On Fri, Jun 17, 2016 at 12:47 PM, Michaeasmith notifications@github.com
wrote:

[2016-06-17 20:55] Arsh25 opened #68 "Find alert sounds for backend"
Added functionality that allows the pilot to play sounds on the chrome backend. Need to find some sounds to add. Ideally under a public domain license (CC may work)

[2016-06-17 21:00] mrmoss commented on #66
The only way I can think to get this without quotes is to use a regex to
add quotes before the code eval'd (we start with a string).

On Fri, Jun 17, 2016 at 12:51 PM, Michael Moss doomsday.wombats@gmail.com
wrote:

[2016-06-17 21:18] Michaeasmith commented on #66
I forgot about using "var v" in the code editor. That's a local variable separate from any object, so I don't know a way to pass it to a function to modify it.

But I removed the ability to pass just "v" to modify store.v, to eliminate confusion. So now the syntax is:

store.v = false;
checkbox("reverse motors", "store.v")

[2016-06-17 21:25] Arsh25 commented on #66
A checkbox also seems like a toggle to me. If if I uncheck the box the boolean should go back to false. I don't think that will happen with the current version

[2016-06-17 21:41] mrmoss opened #69 "Frontendstatus authentication mismatch."
Ocassional frontendstatus authentication mismatches happen:
  Authentication mismatch: write to 'robots/2016/local/test2/frontendStatus' not authorized by ''

This might be due to the timeout/interval style polling, since the auth code is correct, but the nonce is not on the server side.

[2016-06-17 21:44] mfrancisco1 commented on #68
A couple of master's student in HCI created these sounds for us last summer.  They would be very happy if we use them!
[IU_Robot_House_Voices-2016-06-17.zip](https://github.com/robotmoose/robotmoose/files/321318/IU_Robot_House_Voices-2016-06-17.zip)

[2016-06-17 22:05] mrmoss commented on #69
False alarm...the robot didn't have a password...

[2016-06-17 22:05] #69 closed, assigned to mrmoss

[2016-06-17 22:15] mrmoss opened #70 "Gruveo needs authorization."
Make gruveo channel the hmac of the auth code and everything else...

[2016-06-17 22:18] mrmoss commented on #58
Can we get an example use-case for this?

[2016-06-17 22:19] olawlor opened #71 ""call" a state, don't "jump" to a state"
It'd be nice to be able to come back to the state you were in, like call/return.

Example: from "yes" button state, just return to the calling state (relevant question).

[2016-06-17 22:22] olawlor opened #72 ""always" state, for robot invariants"
We should have a state named "always", for things like invariants: battery check, constant UI elements, etc.

[2016-06-17 22:31] Michaeasmith commented on #66
I debated this with myself for a good three seconds before making it. My thinking was that an unchecked checkbox, like an unpressed button, should do nothing. Unchecked means it could be true or false depending on the code before it, while checked means it is true.

But we could definitely change this so that unchecked = false. Is that more intuitive?

[2016-06-17 22:33] Arsh25 commented on #66
Yeah, that seems more intuitive to me. Looking at Matt's example use case, a checked box means go backwards and an unchecked box could be the opposite aka go forwards.

[2016-06-18 05:30] Michaeasmith commented on #66
Okay, I changed it so it now sets the value to false if it is unchecked.

Note that this also means that it is possible to give it the name of a variable that does not exist (must be in the form "store.x"), and the variable is created. So it is not necessary to declare or initialize the variable beforehand. It will also overwrite any existing variable (of any type)

checkbox("reverse motors", "sto

[2016-06-18 06:01] Arsh25 commented on #17
I found a bug with sending the sound list to superstar and it's not updating after the first robot. Reopening this as a bug.

[2016-06-18 06:42] mrmoss commented on #13
@Arsh25 I added a push and pop option to superstar, so you can do:
- http://site/superstar/path?push=1234
- http://site/superstar/path?pop=true
- http://site/superstar/path?push=1234&pop=true

Current implementation uses newline delimiters. This way you can do something like:

[code]

[2016-06-18 13:31] mfrancisco1 commented on #66
thanks!

On Sat, Jun 18, 2016 at 1:30 AM, Michaeasmith notifications@github.com
wrote:

[2016-06-18 19:59] #62 closed, assigned to mrmoss

[2016-06-18 20:05] mrmoss opened #73 "Frontend top bar issues."
Frontend top bar doesn't react as expected. When the width of the screen is smaller than the bar, it gets bigger and doorways can go on top of it.

[2016-06-18 23:38] Michaeasmith opened #74 "Switching between saved codes can result in overwriting"
In the code editor, sometimes if you switch between two saved codes and hit "Run" while the dropdown menu is still selected, one of the codes will be overwritten by the other.

I haven't figured out yet the exact combination of actions to reproduce this every time.

[2016-06-19 01:47] FineTralfazz commented on #34
I've been testing this over the past two days with the updated backend and trying to reproduce it, and it appears to be fixed. I'm closing the issue for now, if it starts happening again we can reopen and revisit it.

[2016-06-19 01:47] #34 closed, assigned to FineTralfazz

[2016-06-19 08:11] #66 closed, assigned to Michaeasmith

[2016-06-19 10:22] mrmoss opened #75 "Make default change option for checkboxes not have quotes."
It'd be nice...but not 100% required...

[2016-06-20 21:12] computations commented on #29
closed via 61dabf3be733978362a001525fa02e22dafea413

[2016-06-20 21:12] #29 closed, assigned to computations

[2016-06-20 21:20] computations opened #76 "Implement voice commands."
One of the cool things we could do is make a robot listen to commands, and be able to understand a limited set of commands.

[2016-06-20 21:28] permutationlock opened #77 "Simultaneous Localization and Mapping (SLAM)"
Utilize encoders and Neato range data to have robots map their environment and locate themselves within this map. Implementing a SLAM system to identify the static environment may further help with detection and tracking of moving objects (DTMO) which might be used for people detection.

[2016-06-20 21:40] permutationlock commented on #77
These two papers seem to provide a great algorithm that fits our system (no predetermined landmarks, accurate range sensor, produces an occupancy map), although it is possibly more powerful than we need to implement:
- [DP-SLAM: Fast, Robust Simultaneous Localization and Mapping Without Predetermined Landmarks](http://people.ee.duke.edu/~lcarin/Lihan4.21.06a.pdf)
- [DP-SLAM 2.0](https://users.cs.d

[2016-06-20 21:45] computations commented on #76
One important note for this, when I did some more research, I found that Firefox's WebSpeech API is significantly worse than Chrome's. In particular, MDN's examples don't even work in Firefox, because the API isn't enabled (MDN sites some permissions problems). Even if it got enabled, it would still be worse than Chrome's, due to some of Google's big data "secret sauce". Therefore, this will only

[2016-06-21 06:45] Michaeasmith opened #78 "Troubleshooting guides"
Teachers have requested detailed troubleshooting guides for Quizbot and KT.

They should cover all common problems, and they should be written from the perspective of the issues encountered (e.g. "What to do if the robot has no heartbeat").

[2016-06-22 03:11] mrmoss commented on #44
This is actually fairly easy, copy each listener for the following:
onmousedown - ontouchstart
onmousemove - ontouchmove
onmouseup - ontouchend

Mouse based commands start with the passed event, touch based events are one layer deeper, since there can be multiple touch points, so mouse to touch equivalent:
event.pageX - event.touches[X].pageX

For one touchpoint, we should just use the first touch

[2016-06-22 04:30] #18 closed, assigned to FineTralfazz, arcshock

[2016-06-22 04:52] FineTralfazz opened #79 "build.robotmoose.com subdomain"
For the automated build/testing project I'm working on, I need to be able to receive GitHub webhooks, which, because of the university firewall, means that I need to be listening on ports 80/443, which means that I need to create an Apache vhost, which is a lot cleaner if it uses a subdomain, so somebody adding a CNAME record for build.robotmoose.com would be nice.

I don't know who controls our D

[2016-06-22 04:54] Arsh25 commented on #79
Dr Lawlor handles the DNS records. If you prefer a non standard port, we can get that opened from OIT.  @FineTralfazz  I would email him.

[2016-06-22 10:01] #61 closed, assigned to FineTralfazz

[2016-06-22 10:22] olawlor commented on #79
OK, build.robotmoose.com is now a CNAME for the main server.

[2016-06-22 10:30] #79 closed, assigned to olawlor

[2016-06-23 19:24] mfrancisco1 opened #80 "add text entry ui element"
for users to enter precise values in control panel / ui

[2016-06-24 22:33] Arsh25 commented on #31
Reopening to add
- <strike>Ability to recursively go through directories </strike>
- <strike>Copy to multiple robots</strike>

[2016-06-25 00:36] mrmoss commented on #63
Backend now has a callback for an error alert. This alert needs to actually do something the user can see (such as a popup...which is not trivial or else it would be done). Already disconnects robot. Popups are no longer trivial in chromeapp...or else this would already be done.

Error callback is in gui.js:91, currently only console.logs the error.

[2016-06-25 00:38] mrmoss commented on #17
I did some modding to this module (it was throwing errors and not getting the newest robot, didn't work with auth). Needs to be re-tested.

[2016-06-25 02:41] raikaDial commented on #78
Created some empty guides on the Google Drive, will start filling them in.
https://drive.google.com/a/alaska.edu/folderview?id=0B49ZOjbHd6YjcmpDQ2N0NEJxTE0&usp=sharing

[2016-06-25 22:12] #63 closed, assigned to FineTralfazz, mrmoss

[2016-06-25 22:35] Michaeasmith commented on #74
I have discovered that this bug can be reproduced without even pressing "Run". Simply switching from one saved code to another and then clicking elsewhere (so that the dropdown is no longer highlighted) can result in overwriting one of the codes.

If you watch the dropdown, when you switch between codes and then click elsewhere it jumps back and forth between them before settling on one. It seems

[2016-06-25 23:40] mrmoss commented on #74
I'm having a hard time reproducing this bug. This was a known issue at the workshop, but it was fixed.

Where can you reproduce this (robotmoose.com, test.robotmoose.com, localhost)?

Is your robotmoose.com cached by chance?

[2016-06-25 23:59] Michaeasmith commented on #74
I can reproduce it both on localhost (git freshly pulled, superstar freshly made) and robotmoose.com. I cleared cache on both and it still happens for me. Sometimes it takes about a dozen times switching between 2 codes and clicking away from the dropdown (or hitting Run), and sometimes it happens right away.

If the two code names are different in length, I see almost every time that the name of

[2016-06-26 00:01] mrmoss commented on #74
You're running Chrome on Windows 10?

On Sat, Jun 25, 2016 at 3:59 PM, Michaeasmith notifications@github.com
wrote:

[2016-06-26 00:03] mrmoss commented on #74
Alright, I think I see it. I can only get it to reproduce if one I start on
Helloworld and go to something else.

On Sat, Jun 25, 2016 at 4:01 PM, Michael Moss doomsday.wombats@gmail.com
wrote:

[2016-06-26 00:03] Michaeasmith commented on #74
On Windows 10. I reproduced it just now on Chrome, Firefox, and Edge.

[2016-06-26 02:18] FineTralfazz opened #81 "Resource leak on frontend"
Leaving a robot page open on the frontend for a few hours will eventually consume a huge amount of CPU/RAM, making the page, browser, or even entire system slow/unresponsive. I'm not sure what the cause is. I've observed it on FreeBSD w/Firefox, macOS w/Chrome, and Windows w/Chrome.

Because of how long it takes to happen it's probably not a huge deal, but it's something we should at least be awar

[2016-06-26 02:34] Arsh25 commented on #81
This is a known issue I believe. We keep talking about finding a replacement for the whole doorways system. I think looking for an existing system that offers similar functionality is the way to go for this issue.

[2016-06-26 05:27] mrmoss commented on #74
So I just pushed a pretty major change...could I get multiple testers on
this before I close it since it's a pretty important part? @olawlor @arsh25
@Michaeasmith @FineTralfazz

On Sat, Jun 25, 2016 at 4:03 PM, Michaeasmith notifications@github.com
wrote:

[2016-06-26 05:28] Arsh25 commented on #74
@mrmoss any steps to reproduce the issue?

[2016-06-26 05:30] mrmoss commented on #74
It shouldn't be reproducible at all. Just try and break it?

On Sat, Jun 25, 2016 at 9:28 PM, Arsh Chauhan notifications@github.com
wrote:

[2016-06-26 05:31] FineTralfazz commented on #74
Latest version is running on test.robotmoose.com. I'll start messing with it.

[2016-06-26 05:31] mrmoss commented on #74
I'm actually more worried that I broke other things...

On Sat, Jun 25, 2016 at 9:30 PM, Michael Moss doomsday.wombats@gmail.com
wrote:

[2016-06-26 05:33] Arsh25 commented on #50
@rykerDial Charts should resize when the doorway is resized

[2016-06-26 05:40] FineTralfazz commented on #74
The code upload feature is gone. Not sure if that was intentional or not.

[2016-06-26 05:43] mrmoss commented on #74
Do you mean the load file button? I just added that back in if so.

On Sat, Jun 25, 2016 at 9:40 PM, Chris Bailey notifications@github.com
wrote:

[2016-06-26 05:45] mrmoss commented on #74
And the load file stuff is broken...fixing now.

On Sat, Jun 25, 2016 at 9:43 PM, Michael Moss doomsday.wombats@gmail.com
wrote:

[2016-06-26 05:46] mrmoss commented on #74
Fixed.

On Sat, Jun 25, 2016 at 9:45 PM, Michael Moss doomsday.wombats@gmail.com
wrote:

[2016-06-26 05:47] Arsh25 commented on #74
Hitting new and then using `esc` to quit the dialogue freezes the whole frontend

[2016-06-26 05:47] mrmoss commented on #9
Should we make this to where it loads/saves all states at once instead of one state at a time?

[2016-06-26 05:49] Arsh25 commented on #9
Yes we should, I found the download each state separately weird.

[2016-06-26 05:49] mrmoss commented on #74
Not frozen, if you inspect the page, the modal is still there, just invisible...I think that's a bug with the modal class.

[2016-06-26 05:54] mrmoss opened #82 "Modal windows on frontend"
Opening a modal and hitting enter causes the div to be on top of everything and prevent clicking on other elements.

[2016-06-26 05:54] #82 closed, assigned to mrmoss

[2016-06-26 05:55] mrmoss commented on #74
@arsh25 Modal stuff should be fixed now.

[2016-06-26 06:00] Arsh25 commented on #74
Verified modal fix

[2016-06-26 06:10] mrmoss commented on #74
Well, I guess I'll close this...?

[2016-06-26 06:10] #74 closed, assigned to mrmoss

[2016-06-26 07:22] FineTralfazz commented on #9
That was my initial plan, but I had such a hard time working with the state table code that I ended up doing them separately.

[2016-06-26 07:40] mrmoss commented on #9
There should be a .get_states() accessor and a .active_state variable, that
makes the saving easy.

Loading is a little trickier, but take a look at this .rebuild_dropdown_m() function.

On Jun 25, 2016 23:22, "Chris Bailey" notifications@github.com wrote:

[2016-06-26 08:04] mrmoss commented on #9
I just pushed some code that mostly does what we want here. There's a few things we need to decide here though:
- If a bad file is loaded, how do we want to handle files that aren't a json array (probably an error popup or an error notification on the modal...but the code to get us started is there).
- How should we handle loading? Should it overwrite the current program? Should it load it up as a

[2016-06-26 08:11] FineTralfazz commented on #9
Having an input for the experiment name seems like the best option.

[2016-06-26 08:13] mrmoss commented on #9
Maybe a checkbox that overrides the input if the experiment name already exists? This way if you want to overwrite it you can?

The modal_createnew_t class (and the creation of it in state_table_t) pretty much has all the code the check if a state already exists. Maybe follow it's lead and go from there?

[2016-06-27 00:04] #50 closed, assigned to raikaDial

[2016-06-27 00:07] raikaDial opened #83 "Charting UI Improvements"
Instead of a dedicated remove button, it might be nice to have an interface similar to the code tab such that charts can be removed by clicking an x next to the chart.

[2016-06-27 00:16] raikaDial commented on #83
Additionally, the dropdown currently has an entry for each detected sensor. For many connected sensors, it may be more manageable to have nested menus (e.g., in the dropdown for sensors there would be a servo menu).

[2016-06-27 00:18] raikaDial commented on #83
Could also be a search option to find a certain sensor instead.

[2016-06-27 00:21] mrmoss commented on #80
So like a spinner?
http://www.html5tutorial.info/html5-number.php

[2016-06-27 00:31] mrmoss commented on #13
Only implemented on frontend...

[2016-06-27 00:46] mrmoss opened #84 "Separate giant repo into several small repos?"
Should we?

Is there a way to transfer history for certain files to another repo? It'd be nice not to rebase...if possible...

[2016-06-27 00:59] mrmoss opened #85 "Sensors issue"
Sensors seem to be off by some amount. If you hook up a KT, the floor sensors seem to go into the bumpers sensors. Works fine for a bit, but it messes up after ~10-20 seconds.

Suspect it's between the Arduino and the backend, since it does the same thing on the main site that hasn't been updated in a while...

@olawlor You want to take this?

[2016-06-27 01:17] Arsh25 opened #86 "Robotmoose server switvhed over to Nginx"
The robotmoose server suddenly started running Nginx and stopped apache at 5:15 PM today (June 26). No one was on the server as far as @mrmoss and I could tell. We are monitoring the server.

@FineTralfazz : Anything you changed that could do this?

[2016-06-27 01:18] mrmoss commented on #85
Do not think it's the backend or frontend, or it's a problem on the C++ backend and the Chromeapp... Want to say it's on the Arduino side...

[2016-06-27 01:28] raikaDial commented on #85
Floor sensors are still messed up, but bumper sensor is fine. Bumper is changing to 12 when the roomba is lifted up because the wheel drop sensors and the bumper sensors are sent in the same byte, and the firmware and backend are not separating them.

https://cdn-shop.adafruit.com/datasheets/create_2_Open_Interface_Spec.pdf

[2016-06-27 01:29] raikaDial opened #87 "Separate bumper sensor and wheel drop sensors"
Currently, the byte containing the bumper sensor data and wheel drop sensor data is being interpreted entirely as bumper data. These should be split up into separate sensors. More info about create 2 here:
https://cdn-shop.adafruit.com/datasheets/create_2_Open_Interface_Spec.pdf

[2016-06-27 01:31] mrmoss commented on #86
I just disabled the service from auto-starting:
sudo update-rc.d nginx disable

Logs just show nginix starting at 17:07:56. Apache doesn't have anything in
error.log or access.log, other than the absence of connectivity...

On Sun, Jun 26, 2016 at 5:17 PM, Arsh Chauhan notifications@github.com
wrote:

[2016-06-27 01:55] mfrancisco1 commented on #80
yes, that would be great!

On Sun, Jun 26, 2016 at 8:21 PM, mrmoss notifications@github.com wrote:

[2016-06-27 01:58] raikaDial commented on #85
The floor sensors work when the Roomba is powered off of the battery. When the battery is dead and the roomba is powered by the wall charger, the floor sensors don't work, even when the other sensors do.

[2016-06-27 01:58] #85 closed, assigned to raikaDial

[2016-06-27 02:29] raikaDial commented on #87
Will keep the same but rename maybe?

[2016-06-27 02:29] #87 closed, assigned to raikaDial

[2016-06-27 02:31] raikaDial opened #88 "Sensor Help Tab & Sensor Renaming"
There should be a help tab for sensors to explain how to interpret the sensor data.

Additionally, perhaps the bumper should be renamed to touch sensor or something, since it is both the front bumper and the wheel drop sensors? @olawlor.

[2016-06-27 06:16] FineTralfazz commented on #86
I installed nginx back when we were having the problems with Apache, but I haven't done anything today. It looks like the server rebooted today and nginx started first.

I went ahead and removed nginx since we're not using it. Does anyone know why the server rebooted?

[2016-06-27 06:19] FineTralfazz commented on #84
This would make the test/deployment stuff that @arcshock and I are working on much easier, and reduce the number of unnecessary merges/rebases. Strong support from me.

[2016-06-27 06:19] mrmoss commented on #86
It was weird. We were testing on the production site, it went down for
about 30 seconds or so until we noticed it. We forced reloaded the page,
nginix showed up.

On Jun 26, 2016 10:16 PM, "Chris Bailey" notifications@github.com wrote:

[2016-06-27 06:20] Arsh25 commented on #86
I'm gonna called this solved if logs show a reboot. Since nginx is disabled
this shouldn't happen again
On Jun 26, 2016 22:19, "mrmoss" notifications@github.com wrote:

[2016-06-27 06:20] FineTralfazz commented on #86
Weird. I guess I'll go ahead and close this, since it shouldn't happen again. Hopefully we don't start having random reboot problems.

[2016-06-27 06:20] #86 closed, assigned to FineTralfazz

[2016-06-27 08:32] FineTralfazz commented on #84
Also, here's how to split it into multiple repos while maintaining history: https://help.github.com/articles/splitting-a-subfolder-out-into-a-new-repository/

[2016-06-27 08:38] mrmoss commented on #84
I'm down then...not that my decision pulls any weight... @olawlor?

On Jun 27, 2016 00:32, "Chris Bailey" notifications@github.com wrote:

[2016-06-27 10:44] FineTralfazz opened #89 "Frontend UI Rewrite"
This came up at the last meeting as something we thought was on the issue tracker, but wasn't. So... is this something we want to do? Is somebody already working on it? Have we made any decisions about it at all?

[2016-06-27 18:06] Arsh25 commented on #89
No one is working on this yet. And no decision has been made about it. First step is we need to find some library for franeowke that gives similar functionality as doorways, is easy to customize and reliable.

[2016-06-27 19:09] mrmoss commented on #89
I like c9's interface...not sure if it would work for us though.

On Jun 27, 2016 10:07, "Arsh Chauhan" notifications@github.com wrote:

[2016-06-28 01:35] mrmoss opened #90 "Frontend central network manager"
Instead of each widget doing their own network stuff, we should centralize all comms to a robot object that pulls batches of data.

[2016-06-28 01:43] FineTralfazz commented on #89
Whatever the UI ends up looking like, I'd be in favor of building it on top of Angular or Ember or some other JS framework so we don't end up reinventing the wheel with a bunch of weird custom stuff and writing a bunch of boilerplate DOM binding code. I might be alone in that, though.

[2016-06-28 02:22] olawlor commented on #84
Here's the challenge: we want to make our stuff really easy to access and use, and multiple repos makes it harder for users to collect everything they need.  For example, if you split up superstar and the C++ backend repos, they both depend on some shared network include files, so that'd go into a third repo.  A customer (who inevitably will need a local superstar at some point, for example for te

[2016-06-28 02:30] FineTralfazz commented on #84
Yeah, that's a good point. git submodules can help with some of the problem, but they're not a perfect solution.

[2016-06-28 04:16] FineTralfazz commented on #9
I just pushed a commit to do that. Test server auto-deployment is working now, so it's already live there. Let me know if it's what you had in mind.

[2016-06-28 04:40] mrmoss commented on #90
@olawlor You want to checkout how the robot_network.js class works? I'm not quite sure that's how we want to do this...

[2016-06-28 04:44] mrmoss commented on #90
Up on test.robotmoose.com now.

[2016-06-28 05:02] mrmoss commented on #9
Looks good to me.

On Jun 27, 2016 20:17, "Chris Bailey" notifications@github.com wrote:

[2016-06-28 05:04] #9 closed, assigned to FineTralfazz

[2016-06-28 12:40] mfrancisco1 opened #91 "meta-robot capability"
a robot page that can control two or more backends
backends can be of traditional type or can be camera-only and arduino-only backends

this would become something we would want once Android and iOS backends are established

benefits: another way student teams can collaborate, can make more complex robots,

[2016-06-28 18:54] mfrancisco1 commented on #13
Looks good.  I really like that the messages stay.  Could we add a shortened timestamp to each messages?

[2016-06-28 19:43] Arsh25 commented on #13
Timestamps are a good idea and can definitely be done. There are two ways we can do this
 `Pilot 11:41AM: msg` or `Pilot 2 Hours ago: msg`. I personally prefer the relative stamp since then we don't have to worry about or clarify timezones.

[2016-06-28 19:47] Arsh25 commented on #91
The way the system works, 2 backends can have the same name and be commanded together however sensor data will have a race condition and make no sense.

Do we want to b able to command two different robots simultaneously or do we want to have a separate drive UI for each robot? This question can be expanded for all the other elements (doorways) on the frontend.

[2016-06-28 20:06] mrmoss commented on #13
Sounds good. Let's swap the current storage of line delimited strings to
line delimited json objects in the format:
{handle:"str",message:"str",time:ms_since_epoch}

On Jun 28, 2016 11:43, "Arsh Chauhan" notifications@github.com wrote:

[2016-06-28 20:41] raikaDial commented on #13
Relative timestamps are pretty easy with Moment.js. You just store your initial timestamp, then periodically update the time displayed in the chat window with the .fromNow() method.
http://momentjs.com/

[2016-06-28 20:56] raikaDial opened #92 "Test server javascript is broken"
Somewhere in the test server javascript code the code is broken, because most of the UI elements no longer function. I rolled back my local repo and tested until it was fixed. This commit https://github.com/robotmoose/robotmoose/commit/9d7402bdea60757864c94a62efd9ed58bfa8d9bb seems to be the culprit. @mrmoss

[2016-06-28 21:02] Arsh25 commented on #92
That commit was when the new multiple superstar paths syntax was introduced. My guess is the doorways don;t work because of something that the new networking protocol messed up.

[2016-06-28 21:03] Arsh25 commented on #13
I wouldn't use a JS library for something this simple. The JS `Date` object does everything we need.

[2016-06-28 21:07] mrmoss commented on #13
Javascript already makes this easy:
var diff_seconds=((new Date().getTime())-(new Date(json.time)))/1000;

On Tue, Jun 28, 2016 at 1:03 PM, Arsh Chauhan notifications@github.com
wrote:

[2016-06-28 21:10] mrmoss commented on #92
Nope, this is because I commented out the try/catches in superstar.js...so
something is requesting something that is not a json object and actually
throwing instead of being saved by the superstar function...

[2016-06-28 21:10] raikaDial commented on #13
Moment.js is a wrapper around Date. I just mentioned it because it formats the relative timestamp for you.

[2016-06-28 21:14] mrmoss commented on #13
console.log(""+new Data());
Tue Jun 28 2016 13:13:07 GMT-0800 (AKDT)

On Tue, Jun 28, 2016 at 1:10 PM, Ryker Dial notifications@github.com
wrote:

[2016-06-28 21:14] Arsh25 commented on #92
Seems to be some malformed json in the new multiple set and get system.

![selection_021](https://cloud.githubusercontent.com/assets/3912597/16432609/31d7ba80-3d32-11e6-83b4-42707d20fc2a.png)

[2016-06-28 21:15] mrmoss commented on #92
I'm not getting any errors...

[2016-06-28 21:18] raikaDial commented on #13
Relative timestamp as in "a few seconds ago", "1 hour ago", "1 day ago", etc.

[2016-06-28 21:20] Arsh25 commented on #92
They are no errors in the console, the requests are coming back with a malformed JSON object as shown above

[2016-06-28 21:29] mrmoss commented on #92
Malformed JSON objects in Chrome show up in the console (not as an error, but console.log because superstar.js saves it).

The whole "multiple get" thing isn't new. It's been there for a long time (I added it to the frontend, but the backend has had it for a long time).

I did move chat to the multiple get request thing. The chat system isn't using JSON objects, so it isn't decoding correctly. If

[2016-06-28 21:42] #92 closed, assigned to mrmoss

[2016-06-28 21:44] mrmoss commented on #13
Oh, that's kind of nice. It's a single file, I'm down.

On Tue, Jun 28, 2016 at 1:18 PM, Ryker Dial notifications@github.com
wrote:

[2016-06-28 22:12] mrmoss opened #93 "Chat doesn't work with authentication"
Chat uses superstar_generic, which doesn't have built in authentication... If we could store chat as JSON, this would be trivial to add to the multiple get and set...

[2016-06-28 22:19] mrmoss commented on #91
It would be interesting if we could configure a "Moose" object, (which is
just a robot name). Backends could theoretically control other backends
this way.

On Tue, Jun 28, 2016 at 11:47 AM, Arsh Chauhan notifications@github.com
wrote:

[2016-06-28 22:24] mrmoss commented on #89
I've uses Angular a bit in app development (Ionic uses it). Could you mock
up an example Angular/Ember frontend? Doesn't have to be 100% functional,
or even 10% functional, just to give us an idea of how/what it can do for
us? I'm completely open to entirely changing the frontend.

On Mon, Jun 27, 2016 at 5:43 PM, Chris Bailey notifications@github.com
wrote:

[2016-06-28 22:30] Arsh25 commented on #93
Self assigned since I have the other chat issue assigned to me

[2016-06-28 22:43] mrmoss commented on #93
It might be worth changing the whole append/trim system to storing things as a JSON array. This would make this and adding the dates in #13 trivial.

[2016-06-28 23:37] Arsh25 opened #94 "Change append/trim system to store data as JSON array"
Change superstar's append/trim system to store data as a JSON array instead of newline delimited strings. This will make #93 and adding timestamps to chat (#13) trivial.

[2016-06-28 23:41] Arsh25 commented on #93
Opened new issue for changing the append/trim system. See #94
On Jun 28, 2016 14:43, "mrmoss" notifications@github.com wrote:

[2016-06-29 01:10] #93 closed, assigned to Arsh25

[2016-06-29 01:10] #94 closed, assigned to mrmoss

[2016-06-29 01:10] mrmoss commented on #13
Still need on backend...

[2016-06-29 03:04] mrmoss commented on #73
When window starts small the menu moves all the windows about:
<img width="675" alt="screen shot 2016-06-28 at 7 03 28 pm" src="https://cloud.githubusercontent.com/assets/1828563/16439254/09a02148-3d63-11e6-9f6f-22d7a3255b9b.png">

The top bar also does weird things if it starts small and then is enlarged again:
<img width="690" alt="screen shot 2016-06-28 at 7 00 48 pm" src="https://cloud.githubu

[2016-06-29 03:13] raikaDial commented on #73
Ah, thought I fixed that. Where do you define the style for those buttons?

[2016-06-29 03:14] mrmoss commented on #73
All in robot_menu.js.

[2016-06-29 03:42] Arsh25 opened #95 "Backend Network Manager"
Add the same network manager used on the frontend (#90) to the backend to allow for a unified codebase.

[2016-06-29 04:01] raikaDial commented on #73
As far as I can tell, the buttons were being messed up because doorways set the height of the menu bar to the height of the menu offset, which was not the ideal value when the menu was collapsed. I hacked the correct behavior by setting a static height for the menu bar, but an ideal solution may be to switch from nav-tabs that have their height reduced to a button type.

[2016-06-29 04:03] FineTralfazz commented on #89
I'll throw something together and see how well it works.

[2016-06-29 04:03] mrmoss commented on #73
Feel free to completely swap out that system with whatever you think is
best.

On Jun 28, 2016 20:01, "Ryker Dial" notifications@github.com wrote:

[2016-06-29 08:07] Arsh25 commented on #89
Apparently Google came up with for Gmail https://material.angularjs.org/latest/

Good starting point  https://material.angularjs.org/latest/demo/tabs

[2016-06-29 13:57] FineTralfazz commented on #89
I've spent the last few hours experimenting with Ember. It's pretty nice, but it's very opinionated about how APIs format their data (it basically demands the [JSON API spec](http://jsonapi.org/)). Normally that wouldn't be a problem, and we could write custom adapters/serializers to make it work, but the way we're currently formatting things with Superstar is so different that writing adapters an

[2016-06-29 22:31] #13 closed, assigned to Arsh25

[2016-06-30 23:28] mrmoss commented on #89
What would be the ideal database? MongoDB? Superstar is a little limiting...there's been several situations where a real database would have solved our problems (authentication, chat, etc...). It's probably about time to migrate to a real database.

[2016-06-30 23:35] Arsh25 commented on #89
Had a quick look at mongodb. It does introduce a lot more dependencies but it seems like the ideal DB for our use. There's also firebase which is a SaaS database by Google. O have no idea on what the limitations on the free plan for that are.

I think we should add this to the Friday agenda and discuss it there.

[2016-06-30 23:45] mrmoss commented on #89
To be honest, 99% sure every server will be unix based...so dependencies aren't really an issue.

I'm thinking MongoDB is the way to go (Firebase looks to still be in development). Looks to be as easy as adding an apt repo and apt-get install mongodb-org. Only uses a single tcp port 27017. As always Digitalocean has a great guide on how to install/configure it.

[2016-06-30 23:47] Arsh25 commented on #89
Again I haven't looked into this too much but I was talking about
dependencies for interacting with MongoDB with C++
https://github.com/mongodb/mongo-cxx-driver
On Jun 30, 2016 15:45, "mrmoss" notifications@github.com wrote:

[2016-06-30 23:57] mrmoss commented on #89
Thing is MongoDB is not meant to be public facing, so we'd have to use a web interface (Mongoose...which is Node.js based).

Why are all of these things so complicated? We'd need to have Mongoose, MongoDB, and Ember?

[2016-07-01 00:02] Arsh25 commented on #89
I am ok with this, we'll need something to interface with MongoDB anyways.
Mongoose seems nice since that means our entire stack is JavaScript.

As to why it has to be like that, well welcome to real dull stack
development
On Jun 30, 2016 15:57, "mrmoss" notifications@github.com wrote:

[2016-07-01 00:06] FineTralfazz commented on #89
The database choice is less important than wrapping it in a standard JSON API. Honestly, I would probably just use MySQL or Postgres.

[2016-07-01 00:07] Arsh25 commented on #89
The beauty with MongoDB is it does JSON by default. I'm sure it follows all
the standards.
On Jun 30, 2016 16:06, "Chris Bailey" notifications@github.com wrote:

[2016-07-01 00:11] mrmoss commented on #89
Would we need to build that wrapper or is there something you'd recommend?

[2016-07-01 00:20] FineTralfazz commented on #89
We'd need to build it either way. Using Rails with something like [ActiveModelSerializers](https://github.com/rails-api/active_model_serializers) makes it fairly easy, though.

I'm not opposed to MongoDB, if that's what you want to use. The advantage to a normal relational database is that people are more likely to know how to set it up, and local dev/test servers can use SQLite instead, so people

[2016-07-01 00:27] Arsh25 commented on #89
So we just added layer. Is this what the new schema would look like DB > something that interacts with the DB > Serializer > Frontend ?

[2016-07-01 00:27] FineTralfazz commented on #89
Essentially, except that `something that interacts with the DB` and `serializer` are the same thing.

[2016-07-01 00:28] mrmoss commented on #89
If that's the case, I'd rather do something like MySQL and Python...or build a Python interface to MongoDB. I know RoR is used a lot for this type of thing...but I associate RoR with drowning kittens...not sure why...

[2016-07-01 00:33] Arsh25 commented on #89
I agree with Mike RoR instils fear into my mind. I would still suggest MongoDB because we can serialize the data once and store it in the correct instead of fetching raw data and serializing it every time. Don't know if this will help but the idea of having a full RDMS seems overkill. Also Python can interact with it.

From a server point if view, the big thing superstar does not do is follow the

[2016-07-01 00:36] FineTralfazz commented on #89
We can prototype multiple options -- if we're going to make a change this significant, it might be a good idea to try a few different solutions, compare them, and decide on the one we thing works best.

Also, you guys should try Rails. Seriously. It's so good.

[2016-07-01 00:40] mrmoss commented on #89
I'd almost prefer a Javascript interface, then we would only have one code
base for everything.

On Jun 30, 2016 16:33, "Arsh Chauhan" notifications@github.com wrote:

I agree with Mike RoR instils fear into my mind. I would still suggest
MongoDB because we can serialize the data once and store it in the correct
instead of fetching raw data and serializing it every time. Don't know if
this will he

[2016-07-01 12:26] olawlor commented on #81
It seems likely to be a JavaScript resource leak, caused by dangling references, not necessarily related to doorways.  There must be tools to examine this sort of thing?

[2016-07-01 12:30] olawlor commented on #91
I always wanted a way for the frontend to read sensor values from other robots, like:
   robot("2016/uaf/addon").sensors.analog[0];

It's not clear how to generalize this to commanding other robots, in particular for the case where multiple pilots are sending conflicting commands (but is this even an important case?).

[2016-07-01 12:43] olawlor commented on #89
Rewriting the frontend UI, and rewriting the network communication backend, should be two separate issues.  If they're coupled, that's not a good sign for the UI framework.

One thing I never liked about databases is the installation hassle of setting up the tables.  Right now, a user that wants a standalone superstar (e.g., because they have no useful network in their classroom) can just run one

[2016-07-01 19:33] FineTralfazz commented on #81
I ran the [Chrome heap allocation profiler](https://developers.google.com/web/tools/chrome-devtools/profile/memory-problems/allocation-profiler?hl=en) a few days ago, and it looked like there was something weird happening with Three.js and the robot map. I haven't done enough digging to find out if that really is the source of the problem, but it seems promising.

[2016-07-01 20:58] mrmoss commented on #81
Is it time to update three.js? Looks like we have version 70 and the newest
is 78. Change log. https://github.com/mrdoob/three.js/releases

On Fri, Jul 1, 2016 at 11:33 AM, Chris Bailey notifications@github.com
wrote:

[2016-07-01 21:53] Arsh25 commented on #91
An easy way I can see of allowing multiple pilots to command a robot is to have a "lock". The lock has to be willingly given up by the holder to before another pilot can drive the robot. Once the lock is released it becomes available to be grabbed by another pilot. If we want to guarantee that the lock will be released then each lock could have set time limit.

[2016-07-01 21:58] FineTralfazz commented on #91
Wouldn't only writing pilot commands on change (instead of every x ms) work too? Seems easier than dealing with locks.

[2016-07-01 22:04] Arsh25 commented on #91
Yes that would be easier. But what happens if both pilots are writing at the same time. There's really no issue if only one pilot is writing at a time

[2016-07-01 22:33] Arsh25 commented on #84
Final decision is to have 2 repositories:
1.  robotmoose/robotmoose: All software related files
2. robotmoose/hardware: All hardware related files
   - Schematics and boards
   - Any related firmware
   - CAD files

[2016-07-01 22:34] mrmoss commented on #84
So I'm ready to rebase...literally do git rebase master and git push...

On Fri, Jul 1, 2016 at 2:33 PM, Arsh Chauhan <notifications@github.com>
wrote:

[2016-07-01 23:08] mrmoss opened #96 "Explore frontend only simulator"

[2016-07-01 23:10] mrmoss opened #97 "JSON-RPC Mockup"

[2016-07-01 23:11] mrmoss opened #98 "Chris-Stack Mockup"

[2016-07-01 23:23] mrmoss commented on #84
In case it wasn't obvious, do not delete ANY history.

[2016-07-01 23:41] olawlor commented on #84
I'd definitely prefer to not remove history during the shift, but if that's not possible or too hard, we should have a robotmoose/archive with the old commit messages and version history available.

[2016-07-02 00:04] computations commented on #84
The currently, everything is set up to do the swap. On Wednesday, I will replace the master branch with proposed_master (Doing this Wednesday, is due to the 4th coming up). Any commits to master since todays split will be sorted into either the hardware branch, or the proposed master before swapping. As for the old content, I will put that in a new repo called archive.

Use this time to tell me th

[2016-07-02 01:13] FineTralfazz commented on #84
[I set up a backup repo in case anything goes wrong. Hopefully we don't need it.](https://github.com/FineTralfazz/Chris-Baileys-Home-for-Endangered-Moose)

[2016-07-02 05:02] Michaeasmith commented on #81
Memory management problems related to map.js or three.js don't surprise me. I noticed some memory spikes when using the map before and after implementing the map image overlay. The spikes seemed to drop back down shortly as the browser did cleanup, but some leaks don't surprise me.

We should look at where we are calling dispose() with three.js scene objects. Updating three.js would not be a bad i

[2016-07-02 05:09] olawlor commented on #81
Updating three.js is usually not much benefit but is a lot of pain, because the API randomly changes names and parameters, and you don't see errors from either until the code actually runs (e.g., after you set up a robot with a lidar).

Calling .dispose() would be a very good idea.

[2016-07-04 20:24] #31 closed, assigned to Arsh25

[2016-07-04 21:49] Arsh25 commented on #38
commit a2ac208 added a ?setauth which adds an auth code. Uses is_write_authorized to check if user has parent password before writing the auth.

The auth code will be encrypted on the wire if the client is using https

[2016-07-06 20:14] computations commented on #84
The swap has been made, people might need to pull the new repo in order to commit any changes. The old repo, pre-fracture, is at https://github.com/robotmoose/archive. We should keep that repo read only, so that we don't have to do weird cherry picking when people push to the wrong repo.

[2016-07-06 22:14] Arsh25 commented on #38
Add ability to add new password and optionally delete an old password.

Change setauth to auth_add and auth_del.

[2016-07-08 19:34] hmolchan commented on #78
I've created a section in our wiki for troubleshooting guides. I've started a few but it would be good to collaborate and share this work so it can be added to the wiki.

[2016-07-08 19:36] #84 closed, assigned to FineTralfazz, computations

[2016-07-09 10:43] mrmoss opened #99 "Superstarv2 Authentication"

[2016-07-09 10:43] mrmoss opened #100 "Superstarv2 Unit Tests"

[2016-07-09 10:43] mrmoss opened #101 "Superstarv2 Javascript Library"

[2016-07-09 10:45] mrmoss opened #102 "Superstarv2 Save/Load"
Load old superstar save/load - Can't actually do because we store none json...need to make an easy loader that can load old databases enough to import our existing databases.

New load/save is simply a giant json object (at least for the "simple" database implementation).

[2016-07-09 10:47] mrmoss opened #103 "Superstarv2 Superstar Abstraction"
Current implementation has the JSONCPP stuff directly in superstar_t. It would probably be easier to change in the future if JSONCPP was abstracted into a database_t class, that would make integrating a newer database in the future a ton easier...

[2016-07-09 10:47] #97 closed, assigned to mrmoss

[2016-07-10 00:50] #99 closed, assigned to mrmoss

[2016-07-10 00:53] mrmoss commented on #30
Fixed in new version of doorways, need to actually add new version of doorways to UI (issue #89).

[2016-07-10 00:53] #30 closed, assigned to mrmoss

[2016-07-10 04:46] #101 closed, assigned to mrmoss

[2016-07-10 04:48] mrmoss opened #104 "Superstarv2 migration."
As soon as testing and such is done, we need to migrate over to the new version (assuming we still want it), mainly since it isn't a "drop-in" change over since the new backend has a very different system...transferring old databases and such might be tricky.

[2016-07-10 04:51] Arsh25 commented on #104
For DB transfer I'm thinking we could use Ben's expand utility and parse the directories produced into a the new format or create a utility that copies an old robot into the new format. In either we would need a new utility.

[2016-07-10 04:53] mrmoss commented on #104
I'm planning to make the old database format loadable by the new
version...but I'd like to start storing the database as a JSON object (so
just rewrite the database as a JSON object from then on).  This is issue is
more or less just a formality...I actually think the migration will be
pretty simple.

On Sat, Jul 9, 2016 at 8:51 PM, Arsh Chauhan notifications@github.com
wrote:

[2016-07-10 05:06] #103 closed, assigned to mrmoss

[2016-07-10 06:03] #102 closed, assigned to mrmoss

[2016-07-10 06:07] mrmoss commented on #100
It's probably better for someone other than me to do these...but I can at least start them out...

[2016-07-10 06:10] Arsh25 commented on #100
This is something I could do. [Catch](https://github.com/philsquared/Catch) is something easy to use unless you want to roll your own system.

Going to assign myself too

[2016-07-10 06:30] mrmoss commented on #100
I've always found using Catch for any actual test bed rather difficult to use. It makes adding tests easy...but it makes debugging and reading why tests fail difficult...which is the opposite way of every testing lecture I've been to.

I think this is literally a vector of a test struct that has the thing you want to test in it and what it is expected to output (since everything is a get/set).

I'

[2016-07-12 00:38] Arsh25 opened #105 "Superstarstarv2 copy robots util"
Make a utility to copy robots for Superstarv2.

[2016-07-12 03:30] Arsh25 commented on #47
Closed with da8aadc by @DelMitch

[2016-07-12 03:30] #47 closed, assigned to DelMitch

[2016-07-12 23:17] FineTralfazz commented on #98
Closing because we decided to go with Mike's JSON-RPC implementation.

[2016-07-12 23:17] #98 closed, assigned to FineTralfazz

[2016-07-13 08:57] FineTralfazz commented on #81
I worked on fixing this all day today. Irritatingly, the most significant optimization I tried only required changing 2 lines of code. By drawing the lines on the grid as single lines instead of a bunch of segments, I was able to cut Three.js's memory usage by about 6x on average (60MB -> 10MB, cutting the total page's heap size from ~80MB to ~30MB).

In my testing it doesn't seem to have broken a

[2016-07-13 09:04] FineTralfazz commented on #59
Should this be closed, or did we decide that we wanted to change how this works?

[2016-07-13 09:07] mrmoss commented on #59
We defintely need duplicate labels...and I think we settled on a clear
button as well? As far as I know this is still a problem...

On Jul 13, 2016 01:04, "Chris Bailey" notifications@github.com wrote:

[2016-07-13 09:09] mrmoss commented on #81
I haven't looked at this yet, but are you talking about the actual grid
lines or the lines that are drawn by moving an iCreate around?

On Jul 13, 2016 00:57, "Chris Bailey" notifications@github.com wrote:

[2016-07-13 09:26] mrmoss commented on #81
If this is just the grid, and the lines still show up via driving, looks good to me. Can't tell for sure until I get back tomorrow morning and get an actual robot.

[2016-07-13 23:17] woodchip-dev commented on #44
Touch events have been added to the Drive UI, but they are untested.

[2016-07-13 23:35] Arsh25 commented on #44
Didn't work in my phone. I believe this is because the parent overwrites the touch events on the child. This goes back to the whole using everslisteners instead of ontouch or onclick

[2016-07-14 03:57] #96 closed, assigned to Michaeasmith

[2016-07-14 04:45] Michaeasmith opened #106 "Frontend simulation testing"
I finished the frontend simulator, but it would be nice if someone could test it and take a look at the code, to make sure it is working well and I didn't break anything else in the frontend.

The frontend simulator stores the experiments, configuration, and gui data in localStorage. For a create2, it simulates movement using the same code as the robot_2wd simulator we used for the arduino code si

[2016-07-14 05:06] Arsh25 commented on #106
This is a good question. I think the cleanest way to do it would be using
Milestones https://guides.github.com/features/issues/#filtering. My
proposed workflow:
1. Work on an issue
2. Test it, commit to repo and close the issue
3. Assign the "Testing" Milestone
4. People looking to test can search by this Milestone, test stuff and
   comment on the issue they are testing.

This is something that s

[2016-07-14 07:37] Arsh25 opened #107 "SuperstarV2 logging"
Implement logging for all request to superstarV2. Apache does not log POST requests so we will need superstar to log it if we want to run future analysis.

[2016-07-14 07:43] mrmoss commented on #107
It already does this...

[2016-07-14 07:43] #107 closed, assigned to mrmoss

[2016-07-15 23:45] FineTralfazz opened #108 "Generic Superstar Test Script"
It was decided at today's meeting that there should be a script to test Superstar JSON-RPC requests, both to make sure that we don't accidentally break the C++ implementation and to test alternate implementations for feature parity.

[2016-07-16 02:20] mrmoss opened #109 "Superstarv2 Documentation"

[2016-07-16 02:21] mrmoss opened #110 "Superstarv2 Postdata Log"

[2016-07-16 02:46] #110 closed, assigned to mrmoss

[2016-07-16 04:59] Arsh25 opened #111 "SuperstarV2 does not compile on Ubuntu"
![selection_026](https://cloud.githubusercontent.com/assets/3912597/16892860/dddfccd8-4ace-11e6-99e1-f8113eca8729.png)
![selection_027](https://cloud.githubusercontent.com/assets/3912597/16892865/f352caca-4ace-11e6-83da-b92842d08213.png)

[2016-07-16 05:13] #111 closed, assigned to mrmoss

[2016-07-16 05:24] mrmoss commented on #109
[First review is up.](https://docs.google.com/document/d/1oGs5zI263Xecrs5HO5Bf2DIXb9hnaWFIOWkNzhQ9jhI/edit?usp=sharing)

Would like feedback: @olawlor @atupek @arcshock @FineTralfazz or others that are interested...

[2016-07-17 06:05] Michaeasmith commented on #81
There is definitely a memory leak with the map images. I rapidly switched between the map images and watched the memory usage slowly go up past 1 GB. I'm going to change the map image implementation this week to make it scalable (i.e. map image of any size), so I will also work on its memory usage.

[2016-07-18 20:33] raikaDial commented on #78
@hmolchan I've done some work on the troubleshooting guides but I don't know how to edit the wiki. Could you help me get access?

[2016-07-19 04:48] mrmoss commented on #89
In the process of moving to [doorwaysv4](https://nullify.cc/doorwaysv4/). This is a pretty major integration...if anyone is interested in pair-programming with me, I'll be in Tuesday/Wednesday (it's nice to have someone watching for errors).

The new doorways api is much easier to work with...but this also means that the original file is more or less useless (since it has a kind-of convoluted chai

[2016-07-20 00:52] Michaeasmith commented on #81
I used heap snapshots to look for dangling references and may have found one that comes up at least when you change the map image. THREE.OrbitControls passes a function onKeyDown to Window through an event listener, and this function references the OrbitControls object (which itself references a dom object). Unfortunately, it looks to me like the function passed is unreferenced, so removeEventList

[2016-07-20 01:06] mrmoss commented on #81
I just pushed a version of orbitcontrols.js with a .cleanup() function that
cleans up the event listener... I did not actually call .cleanup(), as I'm
not quite sure where that should go...

On Tue, Jul 19, 2016 at 4:52 PM, Michaeasmith notifications@github.com
wrote:

[2016-07-20 01:45] raikaDial commented on #78
Added a troubleshooting guide for the Quizbot to the git. Will appear on robotmoose after the next pull on the server.

[2016-07-20 03:03] Michaeasmith commented on #81
Called cleanup() from renderer_t.destroy(). The leak is now gone in heap snapshots, and the memory no longer grows when I switch between map images.

I don't think this addresses the original issue of CPU/RAM being consumed even when the robot page is idle, though. As far as I can tell this leak was only triggered when changing the map image.

Edit: We should keep in mind that updating three.js wo

[2016-07-20 07:54] FineTralfazz opened #112 "JSON-RPC method to set auth in SuperstarV2"
Arsh implemented it in v1 as part of #38, but it doesn't exist in v2 (or at least isn't part of the documentation, I haven't looked through the code).

[2016-07-20 08:01] FineTralfazz opened #113 "SuperstarV2 treats every POST as a JSON-RPC request"
I don't know if this really matters, since we never POST anything to the frontend and our instance sits behind a reverse proxy, but Mike's spec says

and SuperstarV2 currently treats every POST as a JSON-RPC request, regardless of the path.

[2016-07-20 08:16] #113 closed, assigned to mrmoss

[2016-07-20 08:18] mrmoss commented on #112
The old set auth didn't work as needed (only added new auths, never removed original auth). It was put on hold until this server was tested and such. I'd call this a duplicate of #38.

[2016-07-20 08:18] #112 closed, assigned to mrmoss

[2016-07-20 21:24] Michaeasmith commented on #33
I rewrote the code so that it is now possible to use a map of any size. The map creation function takes a JSON of name, width, and height.

There are two questions here that we should probably answer as a group before implementing anything:

1) How should maps be uploaded? Should anyone be able to upload a map image, or should we have a robotmoose page accessible only to teachers/facilitators wher

[2016-07-20 21:41] mrmoss commented on #33
My thoughts:
- I'm still in favor of client side uploads (we host a few "official" maps, any other map is just an image that is uploaded).
- I know that not everyone agrees with this, so I'd be most comfortable with just allowing people with server access to upload images (no user portal at all)...because that's how we end up with awesome new administrators from Romania...
- Ultimately, the best w

[2016-07-21 04:37] mrmoss commented on #104
Just moved test.robotmoose.com to superstarv2, please take a look and see what's broken.

[2016-07-21 04:37] mrmoss commented on #104
All backends are broken...

[2016-07-21 04:48] Michaeasmith commented on #104
Two things I just noticed from home:

Did a git pull, ran local superstar, and the page gives an error when I click on "Robots":
VM1626:1 Uncaught SyntaxError: Unexpected token < in JSON at position 0
xmlhttp.onreadystatechange @ superstar.js:149

Secondly, on test.robotmoose it looks like simulations are no longer supported with the new config_editor.js, robot_network.js, and maybe other files, b

[2016-07-21 04:49] mrmoss commented on #104
I'm actually going to revert to the old version...I don't want to leave this broken...

[2016-07-21 04:57] mrmoss commented on #104
I'm guessing your error was a caching/old version issue (new superstar expects JSON), were you running superstarv2?

I moved this to a new branch: superstarv2_migration

[2016-07-21 05:46] Michaeasmith commented on #104
Oh, nope, I was running the old superstar. I tried running it before even looking at the files, and I had assumed you had just replaced superstar.cpp. I'll play around with the new branch.

[2016-07-21 06:07] mrmoss opened #114 "Superstarv2 Comet Implementation"

[2016-07-21 06:08] mrmoss opened #115 "Superstarv2 Backend Integration"

[2016-07-21 06:10] mrmoss opened #116 "New robot menu."
So I've decided to ditch the new version of doorways (api is really nice on the new version...but the old version just has too many quirks to deal with).

Really just need to change the bar from the top to the side with a new menu...

[2016-07-21 06:10] mrmoss commented on #73
Closing this in lieu of a new menu system in #116.

[2016-07-21 06:10] #73 closed, assigned to mrmoss

[2016-07-21 06:11] mrmoss commented on #89
See #116 for details on why this is being closed...

[2016-07-21 06:11] #89 closed, assigned to mrmoss

[2016-07-21 06:14] mrmoss opened #117 "Map resize."
It would be nice if the map resized to the size of the doorway. It does do this up initial creation, but not when the doorway is resized.

This _should_ be easy to implement. As the doorway object has a .onresize and the 3d renderer does have a .width, .height, and a .resize().

[2016-07-21 06:15] mrmoss opened #118 "Merge backend and frontend api."
Probably just wishful thinking this will be done in my lifetime (as a student that is...heck, even in my life-lifetime).

[2016-07-21 16:43] FineTralfazz commented on #108
This is partially done. I need more test cases though, and I'm waiting to implement auth testing until #38's API is implemented.

[2016-07-21 20:17] mrmoss commented on #108
Just added auth interface.

Notes:
- Can only change passwords, cant make them (so if a path has an empty password or it's not in the auth file, then this doesn't do anything.
- Breaks multiple passwords in auth file (was more of a surprise feature anyways).
- Password restrictions: Printable non-whitespace characters with length of 8+.

[2016-07-21 23:44] mrmoss commented on #109
Added change_auth...

[2016-07-22 00:03] mrmoss commented on #115
I'd really like to settle on an interface for everything before this is written. It feels like superstar should only do superstar stuff (take a path and a value, not a robot object). On that note, how about something like:

[code]

We also need to be able to get to superstar to begin with (to be able to select a robot). For that, I kind of just want to have a global superstar that anyone can use:

[2016-07-22 00:18] mrmoss commented on #105
Blind guess...but I think in python this is:
[code]

[2016-07-22 00:31] mrmoss commented on #105
Someone want to test this (I've tested...but it seems like someone else should...)?

[2016-07-22 04:14] FineTralfazz commented on #109
I was able to write all of the test scripts using this documentation, without looking at the code at all. So as far as I'm concerned, it's good.

[2016-07-22 05:54] #109 closed, assigned to mrmoss

[2016-07-22 08:12] mrmoss commented on #114
Someone want to test this? I added client side code in javascript and python.

Python might be a bit tricky to test with since it is blocking. Maybe it's implementation should be threaded? Or I guess you could just make one scirpt that does a get_next and another that does a set...

[2016-07-22 18:04] FineTralfazz commented on #108
Is there an architectural reason it can't create passwords, or is it just an implementation limitation?

[2016-07-22 18:58] mrmoss commented on #108
We want to have robots that are open to anyone. If there isn't a password,
and you could create one, someone could create a password for one of those
robots.

On Jul 22, 2016 10:04 AM, "Chris Bailey" notifications@github.com wrote:

[2016-07-23 01:41] Michaeasmith commented on #117
Fix pushed to repo. Note: the callback in .resizer was ".onresized", but I changed it to ".onresize". I could not find another place in the repo where this callback was used, so this shouldn't cause problems.

[2016-07-23 01:41] #117 closed, assigned to Michaeasmith

[2016-07-24 05:23] Michaeasmith commented on #33
![to_infinity](https://cloud.githubusercontent.com/assets/13650684/17082032/69a9049e-511b-11e6-80e4-f2d11ae84b63.png)

![moon_landing](https://cloud.githubusercontent.com/assets/13650684/17082031/5e768efc-511b-11e6-9476-122490c495d1.png)

I have successfully landed a roomba sim on the moon.

In other news, I added a client-side upload map image feature. It would be great if someone could test it a

[2016-07-24 06:54] Arsh25 commented on #115
I don't know if this was discussed at the meeting and a decision was made. Ignore this if a decision has been made (Or not).

I definitely agree that Superstar should only take a path and value and should not be changed to take a robot object.

I like the suggested object. This seems to be pretty standard way of doing JS stuff. The only thing I disagree with is having superstar being a property of

[2016-07-24 06:57] mrmoss commented on #115
A superstar object is simply an object that can be used to communicate to a
superstar (more of a client).

On Sat, Jul 23, 2016 at 10:54 PM, Arsh Chauhan notifications@github.com
wrote:

[2016-07-24 07:03] Arsh25 commented on #115
Exactly my point. I was referencing your suggestion of

[code]

This suggest that superstar is a property of robot. If I understand this correctly, it will store all robots in a superstar into the robot object. It makes more sense to me that a Superstar has robots, so we would have a superstar object that has a method to get all robots and each robot would be a robot object. So the above would be

[2016-07-24 07:18] mrmoss commented on #115
We want the ability to connect to two different robots that may be on
separate superstars, so the one global superstar will more than likely
hinder that feature in the future. Each robot kind of needs its own
superstar internally anyways (for the backend side, the frontend is always
going to be limited to a single superstar on it's side, only way to do this
is to proxy commands through the backend

[2016-07-26 04:28] FineTralfazz commented on #108
It would be nice to change that somehow, so that users could create their own passwords from the frontend and/or backend, without relying on a person with server access. Possibly a special flag for publicly-accessible robots which allows unauthenticated set/get/etc. calls, but doesn't allow creating or changing passwords, or something? I don't know.

[2016-07-26 04:34] Arsh25 commented on #108
This is something that needs to be implemented and I think can be done if the person has a higher password (like the password for the school). There is  an open issue (#38) which should not have been closed since it specified that we needed a way to create a password from the front or backend and not via a special script.

Providing an easy GUI way to set a password if you have a higher password s

[2016-07-26 04:42] FineTralfazz commented on #108
I'm going to close this issue since it's essentially done. There are a few more tests which should be added, like auth and getNext, but the core functionality is there.

Re auth: I'm not sure if we should create a new issue or reopen #38. I'll let you decide.

[2016-07-26 04:42] #108 closed, assigned to FineTralfazz

[2016-07-26 04:51] mrmoss commented on #108
I talked to Lawlor about this. He said he's ok with us creating the initial
password for the users via the server.

But you are right, we could simply say if you put a \* as a password in
auth, it's a robot with a blank password that can't be set. Be easy enough
to implement. Then you can use the interface we already have (in terms of
the API call, the actual modal/inputs we don't have at all).

O

[2016-07-26 05:47] Arsh25 commented on #38
I agree (See #108)(What!!!!) but I don't see a reason why we need a special denotion for a robot that can't get a password set. I like to think that anyone with sudo (school or / passwords) is trusted enough to not mess with robots.

We definitely need to create the initial school level passwords but need to give the teachers an easy to use interface to set robot passwords. If we need them to come

[2016-07-26 05:53] mrmoss commented on #38
The problem is that we want robots anyone (random people) can drive (aka
write access) but no one can make a password for.

On Jul 25, 2016 21:48, "Arsh Chauhan" notifications@github.com wrote:

I agree (What!!!!) but I don't see a reason why we need a special denotion
for a robot that can't get a password set. I like to think that anyone with
sudo (school or / passwords) is trusted enough to not

[2016-07-26 05:56] Arsh25 commented on #38
I understand and that is why we should require a higher level password for a password set. That would prevent random people from locking publicly accessible robots and also prevent students from locking teachers and facilitators out from their robots.

We can also allow password changes for robots unless the password is blank. A higher level password should be able to set a lower password no matte

[2016-07-26 06:05] mrmoss commented on #38
The current implementation allows anyone with a password for their
directory to set a password for their directory and/or subdirectories of
it. The current implementation also does not allow you to set a password
for a directory if it has no password (your last paragraph is exactly how
it is already implemented). With the exception that no one, even root, can
make passwords for directories with bl

[2016-07-26 06:07] mrmoss commented on #38
Just to clear up that second paragraph:
Give students blank password robots and have them make passwords for them.
To keep random people from making changes to passwordless robots, we'd need
the special read only flag.

On Mon, Jul 25, 2016 at 10:05 PM, Michael Moss doomsday.wombats@gmail.com
wrote:

[2016-07-26 06:10] Arsh25 commented on #38
Definitely need an interface but that would depend on the API.

Should we really allow students to make their own passwords? I'm concerned that students will lock other robots. Teachers should give them a password which they can change.

[2016-07-26 06:15] mrmoss commented on #38
It can set a password for a child directory, as long as it has a password
already. Thing is, this is kind of nice since a student/teacher can't set a
password for year/school/robot/sensors but they can set a password for
year/school/robot (since we will put a password on it). So if there was an
interface, teachers can change passwords for students (if they forget
them). We can change/create passwo

[2016-07-26 06:21] Arsh25 commented on #38
I edited my comment after I noticed parents can set children passwords.

I agree teachers should be able to make robots in their schools  and set passwords for them. Ideally both creation and password setting will be in the same interface. The interface can be a webpage or somehow integrated into the backend. I prefer it being a webpage.

TO summarize, I think the current API is good since it prev

[2016-07-27 06:40] Michaeasmith opened #119 "Reset map position?"
It would be nice to be able to reset the 3D roomba to the middle of the map when the map image is changed. More generally, it would be nice to be able to move the roomba to any location on the map. This is especially important since some maps can be larger than others, so switching maps after driving can result in the roomba being lost in space.

But given that the sensors.location is shared with

[2016-07-27 06:45] mrmoss commented on #119
What if we just had a reset position button? If we used SLAM, the position
would auto update back to where it was after the reset. If we used ARUCO,
the position would also auto update back to where it was.

On Jul 26, 2016 22:40, "Michaeasmith" notifications@github.com wrote:

[2016-07-27 06:47] Arsh25 commented on #119
The frontend should NEVER set sensor values. I think the best thing to do for now (without any information from Neato) is to reset the roomba to a fixed location on the map (center?) and assume that to be the starting positions and then update location as we are currently.

If we get localization via Neato (or Aruco) then we could update the virtual location the where the robot thinks it is (assum

[2016-07-27 06:56] mrmoss commented on #119
Why shouldn't the frontend be able to set sensor values?

The robot has no idea where it is to start out with. A human has to tell
the robot where it is starting (unless it sees an ID with ARUCO). Other
than that case, human interaction serves as a sensor.

If someone places the robot in a room, and, as a pilot, you see a landmark
that matches on the map that doesn't match up with your current loc

[2016-07-27 07:02] Arsh25 commented on #119
The Frontend should not be able to set a sensor value, so pilot should not be able to say that the sensor.bumper=1 for example. But yes, the way you described is totally ok, a pilot should be able to tell the robot that hey you are on this location in the map. Setting starting location is ok but frontend should not be able to reset the location sensor (location.x=200 but location.x=0 is ok). I bel

[2016-07-27 07:09] mrmoss commented on #119
So if you are driving around, and notice the robot is completely shifted by
a room or something because it was not placed correctly in the starting
area, the pilot should have no control over resetting that? Again, if the
pilot can see exactly where they are, why not let them fix it instead of
waiting for someone else to fix it for them?

If a student is constantly testing a pre-programmed movemen

[2016-07-27 07:14] Arsh25 commented on #119
We're saying the same thing. If the pilot wants to reset it they move the robot on the map to where it actually is and reset the location. All locations are relative to a zero anyways( current implementation).

So yes, the pilot should have control over resetting it's location.

[2016-07-27 19:35] Michaeasmith commented on #119
If no one else has objections, I will go ahead and implement a reset location button that will reset the sensor.location values to 0.

Later, I would like to implement the ability to view the map image and click on any spot to set the location.

[2016-07-27 20:44] computations commented on #109
Would it be possible to include some plain text version of this in the repo? Just so that new devs don't have to go digging through closed tickets to find it.

[2016-07-30 00:29] mrmoss opened #120 "Switch camera button on backend."
Can't switch cameras for gruveo on backend.

[2016-07-30 00:31] mrmoss opened #121 "Backend Fullscreen Issues"
Backend fullscreen button can say "Exit Fullscreen" when you have exited fullscreen via escape button. Should pull this status from the chrome api instead of assuming what it is.

[2016-07-30 00:32] mrmoss opened #122 "Serial dropdown on backend doesn't auto load serial devices."
Was seen today during a walkthrough, serial devices do not seem to update on the backend on Windows (haven't tested on other systems).

[2016-08-01 21:08] raikaDial commented on #76
@computations I don't know if you've run into any issues with microphone noise while working on voice control, but I thought I would let you know that the Kinect provides a noise cancelled audio stream. If we decide to integrate the Kinect with the Layla it would be cool if the voice command API could access this audio.

[2016-08-02 23:03] raikaDial opened #123 "Subsystem Integration with Robotmoose"
As we continue to develop subsystems such as the Neato and the Kinect, we are going to need a method for integrating them with Robotmoose. The current stack assumes everything goes through the Arduino, so we will need a way to expand this. I had a few ideas:
1. Subsystem programs run as separate programs or as children processes of the chrome app. They pipe or otherwise transfer their data to conn

[2016-08-02 23:11] Arsh25 commented on #123
Your first suggestion is basically the "standard" way to do it. All subsystems are clients (Neato and Kinect stuff) for superstar. They do their own processing (separate from the chromeapp) and send their data to superstar. The data will be sent to superstar via the superstar API and the API has been implemented in JavaScript, Python and C++ (Maybe ?).

I can see some argument for integrating the

[2016-08-02 23:14] mrmoss commented on #123
Neato should be implemented in Chromeapp (since this is simple serial
processing, Aven is currently working on this).

Kinect has to be separate, since the only way (currently) to get it to work
in a chromeapp is a browser plugin.

On Tue, Aug 2, 2016 at 3:11 PM, Arsh Chauhan notifications@github.com
wrote:

[2016-08-02 23:36] mrmoss commented on #123
As for the superstar c++ client, it looks like Ben made one. Although it
uses a separate hash library (it be good to swap it over to using
auth.cpp/hpp and picosha and link the files if possible). It may also be
good to rename superstar.cpp/hpp to superstar_server.cpp/hpp (this way the
interface to superstar is the same in every language minus the syntax
differences).

I actually haven't looked at

[2016-08-03 01:44] #104 closed, assigned to mrmoss

[2016-08-03 01:44] #105 closed, assigned to mrmoss

[2016-08-03 01:44] #114 closed, assigned to mrmoss

[2016-08-03 01:44] #115 closed, assigned to mrmoss

[2016-08-03 01:44] #116 closed, assigned to mrmoss

[2016-08-03 01:45] mrmoss opened #124 "Backend auth error popup."
Backend opens an auth error window with nothing really in it (I made this a long time ago hoping someone would finish it...).

[2016-08-03 01:52] mrmoss commented on #100
I wanna say this is done yes?

[2016-08-03 01:52] #100 closed, assigned to mrmoss, Arsh25

[2016-08-03 02:01] mrmoss commented on #106
@Michaeasmith You want to test this again? It seems to work for me...but you may know some edge cases I'm not thinking of...

[2016-08-03 02:02] mrmoss commented on #124
Should this even be a popup?

[2016-08-03 02:03] mrmoss commented on #121
Would it be easier just to have a button that says fullscreen that doesn't change text/icon?

[2016-08-03 02:04] Arsh25 commented on #124
I think a popup is good. Makes it really hard to miss. Maybe some annoying music too (Pls don't do that)

[2016-08-03 02:04] raikaDial commented on #120
Been doing some research on this. We can get a list of available cameras with navigator.mediaDevices.enumerateDevices(), but there doesn't seem to be a way to change the camera source without direct access to the video object.

[2016-08-03 02:04] mrmoss commented on #122
I think this is actually a dropdown.js issue not a name.js issue...

[2016-08-03 02:05] mrmoss commented on #124
I was thinking something like what's in the frontend (a red box below the auth input box).

[2016-08-03 02:06] mrmoss commented on #120
We are hiding the permissions window at load time, maybe we should just let it popup so you can choose the camera?

[2016-08-03 02:07] Arsh25 commented on #124
How will the frontend know that the password on the backend is wrong? We would have to set a flag or something that says wring password entered on backend but this means the backend is writing to Superstar without auth.

[2016-08-03 02:08] mrmoss opened #125 "URI argument robots no longer work."
@mrmoss broke this...someone want to fix the ability to go to:
http://site/robots/?robot=2016/uaf/stealth_layla

[2016-08-03 02:09] mrmoss commented on #124
I re-worded my previous post.

[2016-08-03 02:13] Arsh25 commented on #124
Hmm, I haven't seen that interface. I tried to see it by giving a password for a robot that did not have a password but it just let me through anyway.

[2016-08-03 02:13] raikaDial commented on #120
Probably the best option, though I'm not sure how to do it. When you remove the permission request event listeners there is no popup, just denies permission automatically.

[2016-08-03 02:13] Arsh25 commented on #120
We aren't hiding the window. The app has permission to access the camera and microphone via manifest.json. Maybe we can capture the event and do something with it instead of just allowing it?

[2016-08-03 02:15] mrmoss commented on #124
I believe stealth_layla has a password.

On Aug 2, 2016 6:13 PM, "Arsh Chauhan" notifications@github.com wrote:

[2016-08-03 02:16] mrmoss commented on #120
If you get rid of that, doesn't it ask for permission?

On Aug 2, 2016 6:13 PM, "Arsh Chauhan" notifications@github.com wrote:

[2016-08-03 02:17] Arsh25 commented on #124
It does not. The test site has no auth file and the auth file for the prod file has an empty password for all robots

[2016-08-03 02:17] Arsh25 commented on #120
No it denies the request if you do not capture the event

[2016-08-03 02:18] raikaDial commented on #120
You can have this one Arsh :)

[2016-08-03 02:20] raikaDial commented on #120
We may just have to tell people to change their camera the standard way: Settings -> Show Advanced Settings -> Privacy (Content settings) -> Camera (Choose camera from dropdown)

[2016-08-03 02:23] raikaDial commented on #122
If your list of serial devices changes while the serial dropdown element is selected, the dropdown won't refresh until you click on something else.

[2016-08-03 02:24] Arsh25 commented on #122
Notice same behaviour for all dropdowns (changing SS does not update schools if dropdown is open) this leads me to believe it is a dropdown_t thing. Should we even worrying about it not updating when open?

[2016-08-03 02:26] Arsh25 commented on #121
Chaging the text is not a big deal and it is sort of nice to have a button that says exit when you're already in fullscreen (Makes the purpose very obvious). The main issue is that we should not make assumptions on the state.

[2016-08-03 02:28] mrmoss commented on #122
Yes, because then you can't ever select anything...

On Aug 2, 2016 6:24 PM, "Arsh Chauhan" notifications@github.com wrote:

[2016-08-03 02:29] mrmoss commented on #124
Regular superstar then?

On Aug 2, 2016 6:17 PM, "Arsh Chauhan" notifications@github.com wrote:

[2016-08-03 02:30] raikaDial commented on #120
If you decide to pursue creating a button, here is some code I wrote to make a dropdown of cameras:

[code]

[2016-08-03 02:47] Michaeasmith commented on #106
It's working for you? On test.robotmoose when running a simulation it won't let me select a device on the configure tab.

[2016-08-03 03:03] Michaeasmith commented on #106
Just pushed a fix. Simulation seems to be working again for me on test.robotmoose. It would be good if someone else can try it too.

[2016-08-03 03:09] mrmoss commented on #106
Caching?! Looks good now.

[2016-08-03 03:09] #106 closed, assigned to Michaeasmith

[2016-08-03 03:09] mrmoss commented on #124
<img width="690" alt="screen shot 2016-08-02 at 7 03 37 pm" src="https://cloud.githubusercontent.com/assets/1828563/17352636/a6c33a9a-58e4-11e6-8ac6-872543e2d2b3.png">

[2016-08-03 03:37] #125 closed, assigned to mrmoss

[2016-08-03 05:07] mrmoss commented on #122
@Arsh25, so I noticed if you replace the dropdown.js in the app with the one on the site...it works...at least for me...making a softlink...

[2016-08-03 05:08] #122 closed, assigned to mrmoss

[2016-08-03 05:09] Arsh25 commented on #122
I'm not assigned to this so thx

[2016-08-03 05:11] mrmoss commented on #122
Oh, I thought you took it?

[2016-08-03 05:19] mrmoss commented on #121
So the email said you took 122 and 124...so I totally did this... I guess I could have looked at the assigned persons...

[2016-08-03 05:19] #121 closed, assigned to Arsh25

[2016-08-03 05:20] #90 closed, assigned to mrmoss

[2016-08-03 05:25] mrmoss commented on #81
So I don't know if you guys noticed this, but if you zoom in on the thicker lines on the map, they are actually a ton of little lines...

[2016-08-03 05:29] #17 closed, assigned to Arsh25

[2016-08-03 05:29] #33 closed, assigned to Michaeasmith

[2016-08-03 05:29] mrmoss commented on #32
Done on frontend...

[2016-08-03 05:29] #32 closed, assigned to mrmoss

[2016-08-03 05:30] mrmoss commented on #38
Doing this server side...since we need to make the robots anyways.

[2016-08-03 05:30] #38 closed, assigned to Arsh25

[2016-08-03 05:31] #42 closed, assigned to Michaeasmith

[2016-08-03 05:32] mrmoss commented on #41
I thought we agreed this wasn't needed during the workshop?

[2016-08-03 05:32] mrmoss commented on #27
What do we mean by partially implemented?

[2016-08-03 05:35] Michaeasmith commented on #81
I didn't even know you could zoom. How do you zoom?

Maybe we could make it one thick line.

On Tue, Aug 2, 2016 at 9:25 PM, mrmoss notifications@github.com wrote:

[2016-08-03 05:36] mrmoss opened #126 "Add change password interface to frontend connect modal."
Seems like the most appropriate place to put it.

Need:
Three password type input boxes, first is the original password, second and third are new auth and verification of new auth. Check if last two are the same, if so call superstar.change_auth...

[2016-08-03 05:37] Arsh25 commented on #27
If I remember correctly we had the code to add the device and had just started implanting the math to get distance based on wheelbase and power. The device can technically be added but doesn't really do anything to the position.

[2016-08-03 05:44] mrmoss commented on #81
If you're on a robot that doesn't have a roomba, you can do it with the scroll wheel (gif):
![aug-02-2016 21-43-05](https://cloud.githubusercontent.com/assets/1828563/17355053/3912191a-58fa-11e6-9013-f7e60a8b9c48.gif)

[2016-08-03 06:09] Michaeasmith commented on #126
Do we want the new auth boxes as: 1) a new modal, 2) hidden/collapsed input boxes that pop up on button press, or 3) input boxes always visible?

[2016-08-03 06:11] mrmoss commented on #126
I'd say a new modal (just a link on the connect modal to closes the connect modal and opens the auth modal).

[2016-08-03 06:12] Michaeasmith commented on #81
Looks like there's an easy way to make that one thick line. I'll do that and see if it gives better performance.

[2016-08-03 07:08] Arsh25 commented on #38
Not going to re-open this for now. But I think we need a way for users to create robots and passwords. It would help the teachers become more independent from us if they are able to create robots under their schools. Let me know if there was relevant discussion that I missed due to ASRA. If not, this is something we should touch on during scrum this Friday

[2016-08-03 07:23] mrmoss commented on #38
I'm kind of with Lawlor on this:

We're just an email away (or on-call during the class time).

They usually only need one robot for each student for the entire semester
(all the schools so far have only needed robots at the beginning of the
year).

Otherwise it takes a few minutes for one of us to make robots and give them
passwords (starcp.py and nano/vi auth file).

On Aug 2, 2016 11:08 PM, "Ar

[2016-08-03 07:32] mrmoss commented on #126
Other notable things:
- Interface should only check if the auth change was successful once everything is typed in and the submit button is hit.
- Once the submit button is hit, the values of the three inputs should be copied to local variables and then cleared.
- Valid auth codes are 8 characters and contain no whitespace or non-printable characters (as in [specification](https://docs.google.com/d

[2016-08-03 07:35] mrmoss opened #127 "Main readme update."
The main readme is really out of date. Should be shot more torwards chromeapp and using the Arduino IDE (since the Makefile upload is mainly for us).

The two sections in need of major re-writing: Installation and Setup and Configure and Pilot your Robot with the Web Front End.

Might be worth touching up the first section as well...

[2016-08-03 10:29] mrmoss opened #128 "Backend no longer saving..."
Hmm...

[2016-08-03 11:39] mrmoss commented on #12
I have this working...however it breaks the current implementation of the gruveo dialback feature on the backend. I currently just don't know which pilot to take as the video.

I'm generating a uuid for each pilot and keep track of each of their heartbeats...so this shouldn't be too hard to get to work with the gruveo side of things...

This isn't pushed yet since it breaks the gruveo feature...

[2016-08-03 14:34] FineTralfazz commented on #7
Does anyone know how to reproduce this? I've been trying, and it seems to work consistently. Have we accidentally fixed it sometime over the past 2 months?

[2016-08-03 18:14] Arsh25 commented on #12
How are you handling which pilot gets to drive the robot? I think the easiest way would be to connect back to the pilot driving.

[2016-08-03 19:07] mrmoss commented on #7
The title of this issue is a bit misleading. The app should auto reconnect
once you hit connect, but should stop once you hit disconnect.

So open app, click connect. Now you should be able to unplug serial, plug
it back in, the app should auto reconnect.

On Aug 3, 2016 08:30, "Chris Bailey" notifications@github.com wrote:

[2016-08-03 19:10] mrmoss commented on #12
That's not really a thing, any pilot can drive. My current thinking is give
the camera to the oldest pilot. Once that pilot leaves, give the camera to
the next oldest pilot.

On Aug 3, 2016 10:20, "Arsh Chauhan" notifications@github.com wrote:

[2016-08-03 19:24] Arsh25 commented on #12
Isn't the whole point of having multiple pilots is so that some can watch the robot (sensors) while one commands without having watchers overwrite the commander?

[2016-08-03 19:41] mrmoss commented on #12
This already works as long as two pilots aren't driving the robot at the
same time (honor system style).

On Aug 3, 2016 11:24 AM, "Arsh Chauhan" notifications@github.com wrote:

[2016-08-03 22:09] #12 closed, assigned to mrmoss

[2016-08-03 22:09] #128 closed, assigned to mrmoss

[2016-08-03 22:36] Michaeasmith commented on #81
Looks like this was a workaround because thicker lines in THREE.LineBasicMaterial do not appear thicker on Windows. I can look into using MeshLine instead of LineBasicMaterial. But using a thicker line did not seem to make a noticeable difference in memory usage, so I'm not sure if it would matter.

[2016-08-03 23:40] Michaeasmith opened #129 "Drive interface does not work on click when mouse is still"
Anyone else have this error? When I click and hold on the drive interface without moving the mouse, nothing happens. When I click and hold and then move the mouse, the robot moves.

This error is only on test.robotmoose.com.

[2016-08-03 23:59] mrmoss commented on #129
This is me updating to superstarv2...

[2016-08-04 01:47] Michaeasmith commented on #126
Is there an existing robot with password I can use for testing?

Or I could create my own. What is the current procedure for creating a new robot and giving it a password?

[2016-08-04 01:53] Arsh25 commented on #126
You can use the starcpy.py util in /utils/superstarv2 to copy a robot. I checked the server and there is no auth file on the test server. I would suggest just making a new robot and setting the auth on the server.

Or stand up a local superstar and test there

[2016-08-04 03:59] Arsh25 commented on #120
Just need to figure out how to use the selected camera (See commit 6ff8bb6ce8e6802af5c6368e751c26cc7103466c) If someone knows how to do that go ahead. I have this crazy idea of listening for the permission request and sending it to a notification and see what that does.

[2016-08-04 04:47] mrmoss commented on #126
I'd make a robot with an auth code locally and test it (run starcat.py on /
on either server and redirect into db.json).

On Wed, Aug 3, 2016 at 5:53 PM, Arsh Chauhan notifications@github.com
wrote:

[2016-08-04 04:47] mrmoss commented on #126
Alternatively, download the db from the site:
http://test.robotmoose.com/superstar/

On Wed, Aug 3, 2016 at 8:46 PM, Michael Moss doomsday.wombats@gmail.com
wrote:

[2016-08-04 04:57] #129 closed, assigned to mrmoss

[2016-08-04 04:59] mrmoss opened #130 "Frontend status area."
The new frontend status area really needs some TLC. It's pretty bare bones as of right now.

[2016-08-04 05:41] #70 closed, assigned to mrmoss

[2016-08-04 05:58] Arsh25 commented on #25
Dupe of #17 which was closed via 4d6db05

[2016-08-04 06:05] mrmoss commented on #25
I was going through and assigning closed issues to those that completed them...so there are probably more assignments I gave you... But this way we can see who did what.

[2016-08-04 22:12] FineTralfazz commented on #127
I made some updates to it. Feedback?

[2016-08-04 23:00] mrmoss commented on #127
Looks good to me. Only one small detail, what's the official name for the OS on Macs nowdays?
- OSX?
- OS X?
- Mac OSX?
- Mac OS?
- Mac?

Literally have no idea...

[2016-08-05 03:22] raikaDial opened #131 "C++ Superstar Client Needs Testing"
The C++ superstar client is now ready for testing. It has the same interface as the python version, so the unit tests first need to be converted to C++. The superstar source and all its dependencies are in subsystems/kinect_localize, in the include and source files. These files should be in the includes folder, but we now have two different files named string_utils.cpp

[2016-08-05 03:24] mrmoss commented on #131
The string_util files are probably similar if not subsets of one another
(my standard string functions from msl).

On Aug 4, 2016 19:22, "Ryker Dial" notifications@github.com wrote:

[2016-08-05 03:28] raikaDial commented on #131
It would be pretty easy to just merge the two. Though I would have to change the .hpp header to .h to make sure I don't break anything.

[2016-08-05 03:32] Arsh25 commented on #131
I don't like where the superstar client is located in terms of directory structure. But I honestly don't know where it should go. Maybe a folder with all the superstar clients? so superstar/clients maybe?

[2016-08-05 03:34] mrmoss commented on #131
Better would be include/superstar, then rename curremt superstar folders to
superstar_server.

On Aug 4, 2016 19:32, "Arsh Chauhan" notifications@github.com wrote:

[2016-08-05 03:39] mrmoss commented on #131
When it comes to the whole rename .h to .hpp, you're going to have the same problem on the other side of things (going to have to change all .hpp to .h).

Grep is your friend in this situation:

[code]

Replace all of the above with .hpp.

[2016-08-05 03:40] raikaDial commented on #131
I would like it if we split up our header and source files into include and src directories. I think that would make it a bit cleaner.

[2016-08-05 03:47] raikaDial commented on #131
I moved the superstar files to include/superstar. Hopefully that makes it easier for you Arsh.

[2016-08-05 03:48] mrmoss commented on #131
For our stuff, I'd still say put all superstar stuff in /include/superstar/, since then it's fairly simple to compile things:

[code]

I don't think it's a good idea to separate mongoose and jsoncpp into different folders (since those are directly from the git repo, so updating means we just put new files into them). And to continue with the previous example:

[code]

[2016-08-05 03:50] raikaDial commented on #131
Well, it's not that big a deal if they're together. But cmake makes it easy to keep them separate :).

[2016-08-05 04:00] mrmoss commented on #131
[code]

[2016-08-05 04:06] Arsh25 commented on #131
I had to look it up and see if there was a python module for github.

https://github.com/PyGithub/PyGithub

[2016-08-05 04:07] raikaDial commented on #131
Haha. But honestly what makes cmake so terrible?

On Aug 4, 2016 8:06 PM, "Arsh Chauhan" notifications@github.com wrote:

[2016-08-05 04:10] mrmoss commented on #131
It seems like a waste. Cmake makes Makefiles, why not have a new program called Makemake that makes Cmake files which you can then use to make Makefiles that you can then use to make a your project?

Also, I've grown to hate it by using it. If you keep getting beat with a sack of oranges...you might start to hate sacks and/or oranges...

[2016-08-05 04:11] Arsh25 commented on #131
I think the helper functions (eg stringify) should not be part of the interface. Clients should not have any reason to use these fubtions, the only thing that should be exposed are the methods specified in the spec (get,set,get_next etc)

Make a program that that makes cmake files would be an awesome CS331 assignment

[2016-08-05 04:15] mrmoss commented on #131
They aren't, you only include superstar.hpp when using the client interface, so you don't even see them, but you need them in includes to be able to compile things.

[2016-08-05 04:15] raikaDial commented on #131
I don't remember stringify, but functions like build_skeleton_request could
be made private.

On Aug 4, 2016 8:11 PM, "Arsh Chauhan" notifications@github.com wrote:

[2016-08-05 04:16] mrmoss commented on #131
Sounds good.

[2016-08-05 04:17] Arsh25 commented on #131
Wrong example, I meant to say functions like pathify,strip_trailing_slashes etc. Basically what you said Ryker

[2016-08-05 04:28] mrmoss commented on #131
Other than the cmake stuff, code looks good Ryker. I agree the helper functions should be made private.

[2016-08-05 13:34] FineTralfazz commented on #127
[They renamed it to macOS a few months ago](http://www.theverge.com/2016/6/13/11906214/apple-mac-os-10-announced-features-siri-wwdc-2016). Yes, with a lowercase m. Sigh.

[2016-08-05 18:45] mrmoss commented on #127
Then I'd say you can close this.

On Aug 5, 2016 5:34 AM, "Chris Bailey" notifications@github.com wrote:

[2016-08-05 19:38] #127 closed, assigned to FineTralfazz

[2016-08-05 22:40] olawlor opened #132 "Documentation for Superstar Utilities"
Write docs for superstar utilities, explaining how people can create new robots and set up their own superstar.

[2016-08-05 22:45] olawlor opened #133 "Soft wipe chromebooks in the classroom"
It'd be nice to clear students' browser history (and login info) when our chromebooks are booted or woken from sleep.

[2016-08-05 22:54] FineTralfazz opened #134 "Superstar v2 spec in repo"
The Google doc should be translated to markdown and put in the repo, so we don't lose it. I'll take care of it, unless someone else is really excited about it for some reason.

[2016-08-05 22:55] Arsh25 commented on #134
All yours

[2016-08-06 01:21] #134 closed, assigned to FineTralfazz

[2016-08-06 01:32] FineTralfazz commented on #124
I set the password for stealth_layla and verified that this works.

[2016-08-06 03:57] mrmoss opened #135 "Superstarv2 auth changes."
Enable all robots to have auth set (even blank passwords.
Add special value to disable writing auth.

[2016-08-06 04:39] Arsh25 commented on #124
So I had an auth error and the popup window with just ERROR in red does not help. I have no idea what the error was but sort of guessed it was auth and confirmed that it was an authentication error since the status area showed a message saying check the password. I think the error popup should specify what the error is.

Did someone work on this? @FineTralfazz  @mrmoss I have no authority but I th

[2016-08-06 04:42] mrmoss commented on #124
Still open.

[2016-08-06 04:45] Arsh25 commented on #120
As discussed during the weekly scrum, this issue is low priority and temporarily abandoned since there isn't a way to do this. If someone finds a way, please reopen and work on it. Closing issue.

[2016-08-06 04:45] #120 closed, assigned to Arsh25

[2016-08-06 04:48] Arsh25 commented on #124
If someone is already working on this just unassign me and  assign yourself.

[2016-08-06 06:59] #126 closed, assigned to Michaeasmith

[2016-08-06 14:02] FineTralfazz commented on #124
Sorry, I confused backend and frontend.

[2016-08-09 00:54] mrmoss commented on #135
This is done...I think...could I get some external testing verification (up on test.robotmoose.com)?
@FineTralfazz @arcshock @computations @Arsh25 @rykerDial @olawlor @Michaeasmith

Current auth file:

[code]

If multiple people test on the test server, I'm imagining everyone will be overwriting each other...so it might be better to test locally.

No documentation yet...but currently:
- Having a "

[2016-08-09 01:39] Michaeasmith commented on #135
Encountered an error when testing locally: When I try to change authentication of a robot with no password, the error pops up twice: "Superstar error(0) - NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node."
![screenshot from 2016-08-08 17-35-51](https://cloud.githubusercontent.com/assets/13650684/17501809/d1dd2ff2-5d8e-11e6-9ecc-05feebe545

[2016-08-09 01:42] Michaeasmith commented on #135
I should add, my auth file consists only of the line:

/robots/2016/uaf/test password

[2016-08-09 02:14] mrmoss commented on #135
That's weird...that's a javascript error in modal_change_auth.js starting at 285. It shouldn't be able to error, since it only removes nodes that already exist...

What if we just wrap that in a try catch and ignore any errors in there?

[2016-08-09 02:18] mrmoss commented on #135
Was your superstar server running? The page may have been cached. Error 0 means the error happened before any networking operations (or that it couldn't reach the server, HTTP error 0).

[2016-08-09 02:29] Michaeasmith commented on #135
Oh my bad, I think I was still running the old superstarv2 before the recent commit. No longer getting that error after restarting superstar.

[2016-08-09 03:09] raikaDial opened #136 "Superstar client should have strip http function"
If someone specifies http or https in their superstar url, it should be stripped to avoid double inclusion.

[2016-08-09 03:34] Michaeasmith commented on #135
It seems to be working locally as you described in my tests so far. But it seems odd to me that a robot with no auth is not the same as a blank auth.

So with an auth file of:
/robots/2016/uaf/test password

It is not possible to connect to any robot except for 2016/uaf/test - every other robot gives an "incorrect auth" error.

I suppose this will not be a problem as long as when we make a create

[2016-08-09 03:37] Arsh25 commented on #135
There is an easy fix to this. For testing you could just make / have an empty password that would allow all robots with no entries in the auth file to have an empty password. O don't know if this an implementation limitation or on purpose but for production all robots will have an entry in the auth file and whatever way we create to make robots must take this into account.

I think the issue with

[2016-08-09 03:39] mrmoss commented on #136
Doesn't the python and javascript versions already do this?

On Aug 8, 2016 19:09, "Ryker Dial" notifications@github.com wrote:

[2016-08-09 03:42] mrmoss commented on #136
The javasceipt version does. The python utils do this as well, but the
actual client does not. Sounds good, the python should be dead simple (move
code from tools to client). Guessing the c++ client doesn't?

On Aug 8, 2016 19:39, "Michael Moss" doomsday.wombats@gmail.com wrote:

[2016-08-09 03:42] Arsh25 commented on #136
I believe this is for the c++ version.

[2016-08-09 03:43] Arsh25 commented on #136
C++ client does not do this

[2016-08-09 03:50] Michaeasmith commented on #135
If you add / with an empty password to the auth file, then it seems the authentication field is ignored entirely for all robots. You can put whatever you want there. So this wouldn't help for testing passwords. Is that the expected behavior?

[2016-08-09 03:56] Arsh25 commented on #135
I'm going to call that an edge case that probablywasnt tested. I think it's a side effect of allowing the parent auth to work on the child so since / is empty an empty password will work on all robots but an incorrect non empty password should not.

[2016-08-09 03:59] mrmoss commented on #136
Crap, you were assigned to this Ryker? How I never see that?

[2016-08-09 03:59] #136 closed, assigned to raikaDial

[2016-08-09 04:00] mrmoss commented on #135
Yes, that means the root password is blank.

"Blank auth is not the same as not having a password."

On Mon, Aug 8, 2016 at 7:50 PM, Michaeasmith notifications@github.com
wrote:

[2016-08-09 04:10] raikaDial commented on #136
Yeah, this is just to remind me to do this :)

On Aug 8, 2016 7:43 PM, "Arsh Chauhan" notifications@github.com wrote:

[2016-08-09 04:12] mrmoss commented on #136
It does now...I've got to check assigners better.

On Mon, Aug 8, 2016 at 8:10 PM, Ryker Dial notifications@github.com wrote:

[2016-08-09 07:03] Michaeasmith commented on #80
I just pushed this to the dev site. I called the function "spinner", but I feel like there is probably a more intuitive name for it. Any suggestions? Current usage:

spinner() - create spinner (returns value of spinner)
spinner("string") - creates spinner with label "string"
spinner("string", "store.x") - ties variable store.x to the value of the spinner

[2016-08-09 19:27] FineTralfazz commented on #81
Closing this, the changes @Michaeasmith and I made have resolved the major performance problems.

[2016-08-09 19:27] #81 closed, assigned to FineTralfazz

[2016-08-09 21:28] mrmoss commented on #80
Looks good to me.

[2016-08-09 22:12] mrmoss commented on #135
Just changed the auth system to use hashes instead of plaintext auths. This more than likely breaks you local setup (you'll need to change your auth file to use hashes).

You can generate auth codes in two ways:
Anything but windows (unless you use gitbash/cygwin) and macOS: `printf authcode|sha256sum`
macOS: `printf authcode|gsha256sum`
Anything: [http://www.xorbin.com/tools/sha256-hash-calculato

[2016-08-10 02:52] Michaeasmith commented on #135
Testing locally, it seems that if you have a blank line in the auth file, then any robot is accessible without authentication. Is that expected behavior?

[2016-08-10 06:53] mrmoss commented on #135
Yes...and no...

Pathification replaces all consecutive slashes with a single slash and then
removes all trailing and leading slashes.

So "/" gets turned into "", and since there's nothing next to it, the auth
is technically empty for it. So technically, an empty line is the same as
giving a blank auth to /.

I guess that shouldn't be a thing...just pushed a fix.

On Aug 9, 2016 18:52, "Michaeasm

[2016-08-10 22:11] computations commented on #133
I did some research into this. Google Chrome stores all of its user data in ~/.config/google-chrome/Default/, and its safe to just rm -rf that directory to clear history/logins/saved passwords (chrome will just remake everything that needs to be remade).

Secondly, most distros of linux use anacron as well as cron. anacron is a anachronistic version of cron, that makes sure cron jobs are run close

[2016-08-10 23:03] mrmoss commented on #133
I was messing around, and I came up with the below bash script. Seems to not keep history and cookies on closure of chrome while preserving localstorage and chromeapp data:

[code]

[2016-08-10 23:22] computations commented on #133
One note, cron probably doesn't run as the user, so ~ points to the wrong directory. That should be expanded to /home/$user. Also, we might want to add `Login

[2016-08-11 00:00] computations commented on #133
You know, if we are going to wrap the executable in a script, then why not just use the --incognito switch and not worry about linking stuff to null.

[2016-08-11 00:02] mrmoss commented on #133
It's easy to get out of incognito, in which case we have the same problem
(file>new window and ctrl+n will open in normal mode).

On Aug 10, 2016 16:00, "computations" notifications@github.com wrote:

[2016-08-11 05:25] raikaDial opened #137 "Kinect data disappears from sensor data object"
Whenever superstar receives sensor data from the Arduino, it replaces the old JSON. If the Kinect data is stored in robot.sensors, this overwrites it. This is expected behavior.

There are a few work-arounds to this:
1. Separate robot.kinect. Data would persist there.
2. Separate robot.kinect, and robot.kinect is put inside robot.sensors before the sensor json is sent to the various doorways. This

[2016-08-11 05:33] Arsh25 commented on #137
My vote goes for option 2. Here are my reasons:

1 Putting Kinect data into robot.sensors is ok for now when all the Kinect is reporting is 1 float but we may want to add more stuff from the Kinect in the future and having a separate Kinect object created only when a Kinect is connected is better for when we have more stuff from the Kinect.

2 Ownership. I think only the Arduino should be responsi

[2016-08-11 05:41] raikaDial commented on #137
Good point. Since angle data is only one that can be displayed in sensor tab, we'll merge angle only.

In the current setup, charting kinect would add all, but it can be easily changed so we can choose individually.

[2016-08-11 05:45] Arsh25 commented on #137
To clarify, I think that all Kinect data should be separate. So /kinect would look something like
`kinect:{"angle":45.56}`.
In the future this could be expanded to something like
`kinect:{"angle":45.56,"depth":[34,67,45]}` etc

[2016-08-11 05:55] mrmoss commented on #137
I think the easier route is to change the backend from writing the entire
sensors object to only writing values within it. This way the kinect can
write data into sensors as well...

On Aug 10, 2016 9:45 PM, "Arsh Chauhan" notifications@github.com wrote:

[2016-08-11 06:15] raikaDial commented on #137
Yeah, kinect data is already in the format
`kinect:{"angle":value}`

[2016-08-11 06:20] raikaDial commented on #137
Changing the backend to only changing values within the sensors object is probably a good idea regardless, but we still wouldn't want depth data going to the sensors tab. The two ways to do that are to either pass over that data in treeviewer or have a separate object that stores the big data.

[2016-08-11 06:23] mrmoss commented on #137
I'm not a big fan of having the object in the path twice. This is literally a one line fix in the backend...could I get someone to check my last commit?

[2016-08-11 06:24] mrmoss commented on #137
I'm ok with having the array in the sensors tab...isn't it hidden until you click the + next to it? We can even have a custom view in treeviewer to show an image (similar to the binary view for the light field).

[2016-08-11 07:41] raikaDial commented on #137
What happens now when we add a sensor and then remove that sensor? Since the sensor object is no longer replaced, does that mean that the last value for the sensor data will persist forever?

[2016-08-11 07:57] mrmoss commented on #137
Good catch, leave it to the person who puts in that data to clean it up,
just pushed.

On Aug 10, 2016 23:41, "Ryker Dial" notifications@github.com wrote:

What happens now when we add a sensor and then remove that sensor? Since
the sensor object is no longer replaced, does that mean that the last value
for the sensor data will persist forever?

—
You are receiving this because you modified the op

[2016-08-11 08:01] mrmoss commented on #137
This obviously doesn't address the Kinect data. There's no configuration option for it, if there was, the backend would already clean it up if "kinect" was added to the sensor options object in connection.js.

Before we go on any further on this, it is probably worth waiting for a decision from @olawlor.

[2016-08-11 08:04] raikaDial commented on #137
Alright, sounds good. I could have the kinect backend send of set request when it exits, setting kinect to null. This would work unless superstar was shut down before the kinect backend.

[2016-08-11 08:09] mrmoss commented on #137
That'd work.

Questions for Friday's meeting/whenever:
- Old sensors...do we care about them?
- Should Kinect just be it's own thing outside of sensors?
- Is it worth looking/have we looked into using something like [DepthJS](https://github.com/doug/depthjs) to have the Kinect talk directly to the backend?

[2016-08-11 08:30] mrmoss commented on #137
Location has the same issue the Kinect does, even more so since multi sources can edit it (slam and lidar/webcam and opencv/encoders/frontend).

I guess there could be a sub sensors value in location that stores the raw values given from each of the different sources, and the main location you see is the fused sensor reading...

Another question for Friday I guess...

[2016-08-11 08:50] FineTralfazz commented on #95
Does this still need to be done, or does the new superstar.js handle everything now? /cc @mrmoss

[2016-08-11 08:52] mrmoss commented on #95
I was hoping to have the same manager on the frontend/backend...but they
are actually fairly different...I'd say it's done.

On Aug 11, 2016 00:50, "Chris Bailey" notifications@github.com wrote:

[2016-08-11 08:54] #95 closed, assigned to mrmoss

[2016-08-11 19:43] olawlor commented on #137
We can discuss this further Friday, but the main conflict here seems to be between these two design goals:
1. For the backends, it should be easy to add new strange devices, with their own separate way to access superstar.  This argues for separation between device data, for example by splitting robot/sensors (all Arduino-derived data) from robot/kinect (all Kinect-derived data).
2. For the front

[2016-08-11 22:00] mrmoss commented on #137
I'm starting to think the merging+heartbeats is the most elegant solution... This whole cleanup thing didn't occur to me, and it is a big extra step.

As for changing the sensors layout, I'm not sure if it is necessary, but we've already broken backwards compatibility with superstarv2...so breaking it further isn't the most awful thing in the world.

[2016-08-11 22:45] mrmoss commented on #137
What if we implemented a timeout on the frontend?

Every time the frontend receives a new kinect packet with getnext, reset the timeout. If the timeout reaches zero, remove the local sensors object. This would remove the need for a heartbeat.

[2016-08-12 00:16] raikaDial opened #138 "Add encoders to simulation."
When you simulate a robot, only heartbeats changes in the sensor object. With a create 2 configured, you can see encoders updating in the map but not in the tree-viewer.

[2016-08-12 00:36] Michaeasmith commented on #138
I am not able to reproduce this bug. Sensors are updating normally for me both on dev site and local. Can you elaborate your setup? Dev site or local superstar? Any devices other than create2 configured? Is your cache clear?

EDIT: Oh, sorry, you must be referring to the encoder sensor. I thought you were just talking about location.

Encoders are not simulated yet, I can work on that.

But you di

[2016-08-12 01:27] mrmoss commented on #138
Location is updating, just encoders aren't updating, so if encoders aren't simulated than this is all good. Isn't there an issue for encoders?

[2016-08-12 02:32] Michaeasmith commented on #138
There is an issue for encoders on the backend, but not for the frontend simulator, that I know of. Should be easy to add. In a real robot is the value simply the distance each wheel has traveled in meters?

[2016-08-12 03:41] mrmoss commented on #138
I believe it's the number of encoder ticks, not meters.

On Thu, Aug 11, 2016 at 6:32 PM, Michaeasmith notifications@github.com
wrote:

[2016-08-12 21:32] raikaDial commented on #131
Tested set, flush, auth, and callbacks

[2016-08-12 22:18] #135 closed, assigned to mrmoss

[2016-08-12 22:32] mrmoss opened #139 "Getnext superstarv2 needs to send hash of old value."

[2016-08-12 22:49] mrmoss opened #140 "Move individual sensors to /sensors/individual_sensor and merge on frontend."

[2016-08-12 22:49] mrmoss opened #141 "Add laptop battery level to backend."

[2016-08-13 01:17] mrmoss commented on #139
This is actually a lot more difficult that I originally thought...

[2016-08-13 02:07] raikaDial commented on #141
This is actually pretty easy to implement, it is just a question of where we want it in the files. Should we add this to connection.js and do a superstar set of the battery info at the same time we set the sensors?

[2016-08-13 02:09] mrmoss commented on #141
My vote is for un the sensors object.

On Aug 12, 2016 18:07, "Ryker Dial" notifications@github.com wrote:

[2016-08-13 02:10] Arsh25 commented on #141
Something amazing is going to happen. I agree with Mike it should be added to sensors object. Maybe something like laptop_battery and then you can have a charge and charging state

[2016-08-13 02:12] raikaDial commented on #141
Just wondering if it logically makes sense to have a battery_status_t be a member of connection_t since connection.js deals with arduino data primarily

[2016-08-13 02:14] Arsh25 commented on #141
It doesn't but that's good for now. Or we could hold off until the refactor that puts Arduino stuff into sensors/Arduino and then put laptop_battery understand sensors. You know do it right the first time

[2016-08-13 02:19] raikaDial commented on #141
This question isn't about where it should post to vut about where the code should live in the backend files. Since connection.js already handles all the superstar comm and synchronization and stuff, there would be a lot less duplication if we have connection.js be responsible for the battery object.

[2016-08-13 02:23] Arsh25 commented on #141
Ah yeah I know think connection.js is ok.

[2016-08-13 02:47] mrmoss commented on #141
I'd just add it into connection.js where ever they sensors object is
created and sent.

On Aug 12, 2016 18:23, "Arsh Chauhan" notifications@github.com wrote:

[2016-08-13 19:23] raikaDial commented on #141
Alright, backend now merges laptop battery information with the sensors object before it pushes to superstar. This could use some testing on other systems, but as long as chrome is at least version 39 it should work.

[2016-08-14 01:13] mrmoss commented on #139
I have a solution to this, but I can't seem to get it to work reliably. If a backend and frontend are running on the same machine, then chrome only allows 10 connections at a time. The following solution seems to lockup the frontend/backend because of this...

The solution:
Simply have the server send back the hash of the value, this way clients don't have to hash it at all. So "result" would be a

[2016-08-15 21:55] Michaeasmith opened #142 "dev site not updated"
This probably does not need its own issue, but I noticed the test.robotmoose site is not up to date with the most recent commit. Presumably a merge conflict prevented the auto push.

[2016-08-15 21:59] mrmoss commented on #142
I just did a manual update, no merge conflicts. @FineTralfazz which script does the auto update?

[2016-08-15 22:21] FineTralfazz commented on #142
I just did some tests and it appears to be working currently. Let me know if it happens again.

[2016-08-15 22:21] #142 closed, assigned to nobody

[2016-08-15 23:26] raikaDial commented on #141
Works on backend computers.

[2016-08-15 23:26] #141 closed, assigned to raikaDial

[2016-08-16 00:19] raikaDial commented on #78
I've added a troubleshooting guide for the KT at https://test.robotmoose.com/kt/troubleshooting_faq/. There are several repeats from the Quizbot troubleshooting guide.

[2016-08-16 01:01] raikaDial commented on #123
This part of this problem is practically over with. Superstar clients exist for C++, Python, and Javascript. Subsystems will exist as separate programs when it makes sense to do so. #131 and #137 follow up this issue.

[2016-08-16 01:01] #123 closed, assigned to raikaDial

[2016-08-16 20:43] raikaDial commented on #140
Did we decide to go with the merge or have sensors/kinect, sensors/arduino, etc?

[2016-08-17 01:31] mrmoss commented on #140
@olawlor ?

On Tue, Aug 16, 2016 at 12:43 PM, Ryker Dial notifications@github.com
wrote:

[2016-08-17 02:14] raikaDial commented on #48
Using the Kinect, robots can now find the active speaker in a roughly 150 degree FOV in front of the robot (is more prone to error at more extreme angles). Some improvements that I will work on in the Fall (for DSP class) for this are:
- Interpolate for increased angle estimate resolution.
- Dynamic white noise filtering
- Linear prediction filtering
- Beamforming?

I am also going to use the Kine

[2016-08-19 04:14] raikaDial opened #143 "Sound Player Menu Build Errors"
When you try to add new sounds to the backend, the menu doesn't update properly. Currently, the only way to get the menu to update is to connect to a different robot with the backend, connect to that robot on the fronted, then restart your backend with the robot you wanted to use and connect to it on the frontend.

[2016-08-19 19:06] Arsh25 opened #144 "Backend and frontend Gruveo call names do not match"
The back and frontend are creating different hashes for the call name. This was encountered on an updated repo.

[2016-08-19 19:18] mrmoss commented on #144
Are you using the same auth code? Are you using the first pilot to connect?

On Aug 19, 2016 11:07, "Arsh Chauhan" notifications@github.com wrote:

[2016-08-19 19:21] #130 closed, assigned to FineTralfazz

[2016-08-19 20:18] Arsh25 commented on #144
There was only 1 pilot and both sides where using an empty auth code. piloting worked so with code was correct.

[2016-08-19 20:21] mrmoss commented on #144
Just because the auth input on the backend is empty it doesn't mean the
auth is empty (it's cleared when you hit connect). As I recall, the auth
code is saved as well. Was it using a previous auth code?

On Aug 19, 2016 12:18 PM, "Arsh Chauhan" notifications@github.com wrote:

[2016-08-19 20:25] Arsh25 commented on #144
No auth was previously used. I don't believe if we save the auth code, if we do and it shows an empty auth field then that should be filed as a bug.

[2016-08-19 20:45] mrmoss commented on #144
I can't reproduce this (unless I use a pilot that is not the first pilot)...so I just removed the single pilot based video altogether...

[2016-08-19 20:50] Arsh25 commented on #144
What do you mean by first pilot? The first pilot to ever connect to the robot or the first pilot amongst the current list of pilots? If it's the latter than we just had one pilot while testing but there were older pilots who were no longer connected and did not show up on superstar too

[2016-08-19 20:50] mrmoss commented on #143
The menu on the backend or on the frontend isn't updating?

[2016-08-19 20:51] mrmoss commented on #144
The pilot with the lowest uuid in the current list under frontend_status (the oldest pilot that is connected).

[2016-08-19 20:52] mrmoss commented on #144
Was someone else connected? Right now, someone other than me is connected to stealth_layla, so I had to find a robot with no other pilots to test with...

[2016-08-19 20:52] Arsh25 commented on #144
Ok. So we had it not work when there was only one pilot connected

[2016-08-19 20:53] Arsh25 commented on #144
Nope, the backend reported only 1 pilot connected when we had the issue

[2016-08-19 20:54] mrmoss commented on #144
Weird...I tried for a good 20 minutes to reproduce this. Did you have an old version of the backend?

[2016-08-19 20:56] Arsh25 commented on #144
No, I pulled the repo before using the backend

On Aug 19, 2016 16:55, "mrmoss" notifications@github.com wrote:

[2016-08-19 21:02] raikaDial commented on #143
On frontend. It seems to be caused by the menu update function on the
backend being in the on name change callback. Since we store the name that
the person last used, that callbsck isn't fired.

On Aug 19, 2016 12:50 PM, "mrmoss" notifications@github.com wrote:

[2016-08-19 22:58] Arsh25 opened #145 "Undefined variable in robot_ui.js"
Only breaks in Firefox but works in Chrome.

![selection_033](https://cloud.githubusercontent.com/assets/3912597/17826432/cb6e61be-663e-11e6-92c6-aa8a41cd00f1.png)

[2016-08-19 23:00] Arsh25 commented on #145
Closing this was a caching issue

[2016-08-19 23:00] #145 closed, assigned to nobody

[2016-08-22 19:42] mrmoss opened #146 "Superstarv2 needs a rm_auth"
No way to remove an auth code other than manually editing the auth file...

[2016-08-23 23:37] raikaDial opened #147 "HTTPS introduces substantial delay"
Using http with the Kinect, data posts to superstar just fine and few packets are lost. Using https, many packets are lost, substantially reducing the kinect data update rate.

[2016-08-24 01:58] Arsh25 commented on #147
Are you using KEEP-ALIVE? I can totally see the lag being introduced due to each update having to do the TLS handshake.

[2016-08-24 04:53] mrmoss commented on #147
It is not krep alive (single request via mongoose). Mongoose does have the
option, but this would be a major refactor to wget.hpp/wget.cpp.

On Aug 23, 2016 17:58, "Arsh Chauhan" notifications@github.com wrote:

[2016-08-24 14:43] Arsh25 opened #148 "Pilot video code in use"
I believe this is because a video code is only generated for the first pilot and any subsequent pilots use the same code? Also when does a pilot get removed from superstar? If they don't then they should after some time of inactivity. Only one pilot is connected.

![selection_035](https://cloud.githubusercontent.com/assets/3912597/17934811/554873f6-69e7-11e6-98d1-d1eb50f1d263.png)

![selection_036

[2016-08-24 14:55] mrmoss commented on #148
I removed multiple pilots, there is only one pilot now (thr count is there,
but the video code is the same for every pilot).

On Aug 24, 2016 06:45, "Arsh Chauhan" notifications@github.com wrote:

[2016-08-24 14:57] Arsh25 commented on #148
Yeah I saw that so it just uses the robot name and auth to create the code. My guess is that someone is on the stealth_layla video but I don't see any other pilots connected.

Maybe this case actually calls for implementing separate codes for each pilot?

[2016-08-24 15:01] mrmoss commented on #148
Are you doing things with it right now? I can try clearing the pilots.

On Aug 24, 2016 06:57, "Arsh Chauhan" notifications@github.com wrote:

[2016-08-24 15:01] Arsh25 commented on #148
Nope not doing anything right now since I can't get the video to work.

[2016-08-24 15:11] Arsh25 commented on #148
The issue is with that code being used by 2 people already. I think it's some sort of incorrect hangup that gruveo did not receive properly or a rogue laptop connected to the video but that should show up as an active pilot (if connected via robotmoose). I don't know how to solve this since the code is based on robot name and auth apart from changing the auth.

[2016-08-24 15:44] mrmoss commented on #148
When's the demo? I can run into Chapman now (might be an hour or so).

On Aug 24, 2016 07:11, "Arsh Chauhan" notifications@github.com wrote:

[2016-08-24 15:45] Arsh25 commented on #148
It's just to Seta, an hour or so would be ok

On Aug 24, 2016 11:44, "mrmoss" notifications@github.com wrote:

[2016-08-24 16:42] mrmoss commented on #148
This is weird, the robot was even saying the code was in use and constantly
reconnecting... Reconnect with the root pass and it should work.

On Wed, Aug 24, 2016 at 7:45 AM, Arsh Chauhan notifications@github.com
wrote:

[2016-08-24 16:43] Arsh25 commented on #148
Thanks for looking into this so early. I'll give it a try

On Aug 24, 2016 12:42, "mrmoss" notifications@github.com wrote:

[2016-08-24 16:58] mrmoss commented on #148
How's it going? Should we connect to a gmail chat or something if we need
it?

On Aug 24, 2016 8:43 AM, "Arsh Chauhan" notifications@github.com wrote:

[2016-08-24 18:50] Arsh25 commented on #148
So that worked. I may have been running a rogue robot so please check if
it's on the charger. I tried driving it and either it wasn't moving or the
lag was crazy. I could see heartbeats so if it hasn't moved then the power
is probably off.

On Aug 24, 2016 12:58, "mrmoss" notifications@github.com wrote:

[2016-08-24 18:51] #146 closed, assigned to nobody

[2016-08-24 18:54] mrmoss commented on #148
I was there, it wasn't driving at all. I just checked it, looks fine...I
can drive it...

On Wed, Aug 24, 2016 at 10:50 AM, Arsh Chauhan notifications@github.com
wrote:

[2016-08-24 18:58] Arsh25 commented on #148
Probably the lag then. It was working so well last night. Anyways there's
nothing more scheduled for today. May run it Friday again

On Aug 24, 2016 14:54, "mrmoss" notifications@github.com wrote:

[2016-08-24 21:11] Arsh25 opened #149 "Play new chat notification sound on backend"
We should have the backend play a notification sound when a new chat arrives and maybe pop the message in the notification area.

See [Chorome.notifications](https://developer.chrome.com/apps/notifications)

[2016-08-24 21:11] mrmoss commented on #149
Beat me to it...

On Wed, Aug 24, 2016 at 1:11 PM, Arsh Chauhan notifications@github.com
wrote:

[2016-08-24 21:12] Arsh25 commented on #149
Great minds think alike

[2016-08-24 21:13] Arsh25 commented on #124
@mrmoss I believe you implemented this?

[2016-08-24 21:16] mrmoss commented on #124
I implemented it...but I was hoping someone would actually design/put some
thought into making it instead of getting the bare bones system to work...
Everything is in popup.js.

On Wed, Aug 24, 2016 at 1:13 PM, Arsh Chauhan notifications@github.com
wrote:

[2016-08-24 21:19] Arsh25 commented on #124
By everything you mean 3 lines? What do you mean by bare bones system? Does it still just say ERROR! and not actually give the error? I would test but don't have an Arduino handy.

[2016-08-24 21:29] mrmoss commented on #124
The 3 lines of code in popup.js and the 16 lines of html in popup.html are all of it. By barebones I mean an error is seen and it pops up a popup.
![screen shot 2016-08-24 at 1 26 45 pm](https://cloud.githubusercontent.com/assets/1828563/17948729/7bf98924-69fe-11e6-9fa8-a282cf50ad3b.png)

[2016-08-24 21:35] Arsh25 commented on #124
Ah I see so it is more of a design thing now instead of functionality.

[2016-08-24 21:49] Arsh25 commented on #124
@robotmoose/development If anyone is interested in making stuff look pretty then this is all yours.

[2016-08-25 13:05] raikaDial commented on #147
We should use keepalive if we ever expect a superstar client to need to use https on a regular basis. But with the way superstar is setup now, everything posted to it is publicly viewable anyway, so clients should not be posting sensitive information.

[2016-08-25 13:08] Arsh25 commented on #147
Yeah I agree we aren't really posting any sensitive information. The only problem with using HTTP is the possibility of a replay attack but honesty there's not much harm that can be done apart from posting bad data to superstar

[2016-08-25 13:11] Arsh25 commented on #147
I think we should use keep-alive anyways because that could help minimize the latency (though there is no way to tell without experimentation) but that is a big change and should  be discussed and/or its own issue

[2016-08-25 17:37] raikaDial commented on #148
I'm having similar issues in Sitka, using my phone as a hotspot. I can see the sensor updates, see the video stream, and play sounds, but can't drive.

[2016-08-25 17:39] mrmoss commented on #148
I'll check on it when I get in. Might be comet not re-callong its-self due
to some weird edge case.

On Aug 25, 2016 09:37, "Ryker Dial" notifications@github.com wrote:

[2016-08-25 18:49] mrmoss commented on #148
Alright, I think I figured out the problems with this. There's a
network_getnext in connection.js that sets the getnexts for pilot and
config. On error they weren't retrying (robotmoose went down last night?!).

Fix is up on git, soon to be on the store.

On Thu, Aug 25, 2016 at 9:39 AM, Michael Moss doomsday.wombats@gmail.com
wrote:

[2016-08-25 21:04] #148 closed, assigned to mrmoss

[2016-08-27 02:21] Arsh25 opened #150 "Video disconnects when on long calls"
This was discovered when I called into our weekly sxeum on the LAYLA. The deadline be tab was focused so I think it's happening because videobeats don't update when the video tab is not focused?

[2016-08-29 21:09] raikaDial opened #151 "Private data on production superstar?"
Is this something that would be relatively easy to implement? The only privacy concern with the data is if a kid enters personally identifiable information into the code tab (like comments).

[2016-08-29 21:30] Arsh25 commented on #151
If this is a real concern then I think the easiest way to implement it would be to check for correct auth on all read operations. As of now we into check for auth during set operations

[2016-08-30 03:20] mrmoss commented on #150
Done?

[2016-08-30 03:20] #150 closed, assigned to mrmoss, Arsh25

[2016-09-04 01:07] Arsh25 opened #152 "Make wget non-blocking"
The function wget in wget.hpp is blacking which introduces lag in c++ superstar clients. This should be made non-blocking. Potential major re-factor.

[2016-09-04 07:26] mrmoss commented on #152
Can I get some testing on this fix before this is closed? @rykerDial @olawlor @Arsh25

It works locally, and there are no longer any lost kinect packets when going to robotmoose.com (as suspected, it was entirely dropped packets (0 good ones) from my place, even under http://).

Kinect charts are really choppy for me at home using robotmoose.com, but localhost works great. I think I now know how M

[2016-09-06 05:21] FineTralfazz opened #153 "Robots don't always stop driving"
Sometimes when using the drive interface (keyboard or mouse), a robot will continue driving even when the pilot stops. It keeps driving another drive command is sent. I haven't done a lot of debugging, but I suspect it has something to do with the get_next call somehow missing the 0,0 drive speed.

[2016-09-24 01:21] FineTralfazz opened #154 "Update README with deployment information"
This is something I need to do, so it's clear to people how the system works.

[2016-09-24 20:20] #139 closed, assigned to mrmoss

[2016-09-24 20:20] #153 closed, assigned to nobody

[2016-09-24 20:20] #131 closed, assigned to Arsh25

[2016-09-24 20:22] mrmoss commented on #147
This isn't https, at home all kinect data is bad for me (this is latency period, https just happens to be enough on campus to cause the error, but http causes the error at home as well).

[2016-09-24 20:22] #147 closed, assigned to nobody

[2016-09-24 20:25] mrmoss opened #155 "Superstarv2 Testing"
Did a major mod to superstarv2 which required modification to all areas of the system (server, backend, and frontend). Mod was to have clients send the hashes of the last value they received for get next. I've tested several areas of the backend/frontend and server...but I'd feel better if others tested it.
@olawlor @FineTralfazz @rykerDial @Arsh25 @Michaeasmith

[2016-09-24 20:28] mrmoss commented on #155
Hmm..seems to be already broken on test.robotmoose.com...yet I can't reproduce it locally...

[2016-09-24 20:30] mrmoss commented on #155
False alarm...server was still recompiling superstar...

[2016-09-27 05:16] #154 closed, assigned to FineTralfazz

[2016-09-27 20:05] mrmoss opened #156 "Superstarv2 Get-Next Documentation"

[2016-09-27 20:07] mrmoss commented on #156
[First review.](https://docs.google.com/document/d/1oGs5zI263Xecrs5HO5Bf2DIXb9hnaWFIOWkNzhQ9jhI/edit#heading=h.h9cibx1np9k4)

[2016-09-27 20:08] mrmoss commented on #155
So no one has reported anything...I'm going to call this closed.

[2016-09-27 20:24] #151 closed, assigned to nobody

[2016-09-27 20:24] mrmoss commented on #118
These are actually significantly different...

[2016-09-27 20:24] #118 closed, assigned to nobody

[2016-09-27 21:02] mrmoss commented on #132
Can I get someone to take a look at this?
[Draft](http://test.robotmoose.com/help/superstar_utilities/)

[2016-09-27 23:40] FineTralfazz commented on #132
Looks good to me.

[2016-09-27 23:45] #132 closed, assigned to FineTralfazz, olawlor, mrmoss

[2016-09-28 17:30] Michaeasmith opened #157 "test.robotmoose.com/robots https redirect"
If I go to the URL http://test.robotmoose.com/robots in Chrome, it does not redirect me to https, and gives an error in the console:

![error](https://cloud.githubusercontent.com/assets/13650684/18924770/e8f5597a-855d-11e6-8ea7-2aafc90a847d.PNG)

I encounter this problem only on the dev site, not prod.

[2016-09-28 19:02] #157 closed, assigned to nobody

[2016-10-06 05:19] #80 closed, assigned to Michaeasmith

[2016-10-06 05:42] Michaeasmith commented on #65
Another issue:

How would we expect this code to behave?
![blocking_funcs](https://cloud.githubusercontent.com/assets/13650684/19141695/f2223b4e-8b43-11e6-9443-0ee5bbafdd06.jpg)

I think intuitively it should drive forward 10cm, backward 10cm, forward 11cm, backward 11cm, forward 12cm etc.

But what it actually does is drive forward forever without slowing down. This is because store.x changes at

[2016-10-08 01:21] mrmoss opened #158 "Multiple pins per device in configuration."

[2016-10-08 02:01] olawlor opened #159 "delay() is a crude hack"
Our current implementation of delay() and other blocking functions in our states is a very crude hack.

We might explore transforming this to a big "switch(current_line)" statement, where we add a ";break; case "+ line++ +": " before each line.

[2016-10-09 09:31] olawlor commented on #159
The following madness works fine in C++:

[code]

Note the unholy hybrid between a switch statement and a branch.  Case labels for a switch also interoperate with loops and things (exploited by Duff's device).

Javascript case labels do not interoperate with loops or branches, and the language doesn't even have a goto statement.  This may be difficult to implement in JavaScript...

[2016-10-09 10:13] olawlor commented on #159
One possible implementation in JavaScript is to translate away all the curly braces in the original code, like this:

[code]

Essentially, we replace the required goto using a switch--every step in the code gets a case label.  This only works if all the statements are at the same level, so we need to transform out all the curly braces and other control structures:
- Basic statements like function

[2016-10-13 02:06] raikaDial opened #160 "Arrow keys always move map"
This isn't critical by any means, but when using the arrow keys to control a slider I noticed that the map also moves. Ideally, the arrow keys would only move the map if the tab was selected.

[2016-10-13 22:37] mrmoss opened #161 "Add version to somewhere obvious on the backend app."
If a user turns off automatic updates for Chrome, the app doesn't update automatically. Asking the user for the app version requires them to go to chrome://extensions, it would be nice if we had it shown on the backend.

[2016-10-13 22:38] mrmoss opened #162 "See backend version on frontend."
Show the backend version in the sensors tab on the frontend.

[2016-10-14 23:55] raikaDial opened #163 "Quizbot Servo Sliders not Working Properly"
Ran into an issue with the servo sliders on robotmoose. When I start up the robot backend, then connect to the robot on the frontend, the sliders don't work until I click on a different tab in my browser, then return to the frontend

[2016-10-15 01:43] #163 closed, assigned to mrmoss, Arsh25

[2016-10-22 01:22] FineTralfazz opened #164 "Make sure deployment works for SuperstarV2 and rename folders"

[2016-10-22 01:24] mrmoss opened #165 "Robot isn't plugged in really leave button confirmation thing."

[2016-10-25 22:11] #161 closed, assigned to mrmoss

[2016-10-25 22:12] #162 closed, assigned to mrmoss

[2016-10-25 22:16] #160 closed, assigned to mrmoss

[2016-10-25 22:17] mrmoss commented on #155
Closing yet again...

[2016-10-25 22:17] #155 closed, assigned to Arsh25

[2016-10-25 22:26] mrmoss commented on #165
Looks like you can't have custom onbeforeunload messages anymore...
[https://www.chromestatus.com/feature/5349061406228480](https://www.chromestatus.com/feature/5349061406228480)

[2016-10-29 00:46] FineTralfazz commented on #164
I tried renaming the folders, but it caused weirdness because git didn't know what to do with the files it didn't manage (logs, binaries, etc.). I updated the auto-deployment scripts to just use the superstarv2 directory, and I recommend that we just stick with that for now, though we might want to delete the superstar directory to reduce confusion.

[2016-10-29 00:50] #49 closed, assigned to FineTralfazz

[2016-10-29 01:11] #164 closed, assigned to FineTralfazz

[2016-11-04 23:45] mrmoss commented on #144
Did you check your app version?

On Fri, Nov 4, 2016 at 3:44 PM, Orion Lawlor notifications@github.com
wrote:

[2016-11-04 23:48] olawlor commented on #144
If you open a new backend and connect to a LAYLA with an auth code, the backend's gruveo link is wrong until you disconnect and reconnect.  This is with 2016-10-25 roadkill backend, and the production robotmoose.com frontend.

[2016-11-05 00:18] mrmoss commented on #144
Alright, I think it's working. I removed the whole auth clearing bit of
code (changes the input box...thus why the recall was commented out in the
onchange event).

It looks like production apps have the inspector restricted, so you cannot
just "look" at an auth code with right-click+inspect...

On Fri, Nov 4, 2016 at 3:48 PM, Orion Lawlor notifications@github.com
wrote:

[2016-11-05 00:56] #144 closed, assigned to mrmoss

[2017-02-11 02:14] mrmoss opened #166 "State errors don't disappear."
When switching programs, errors from the previous program do not disappear.

[2017-02-11 02:15] mrmoss opened #167 "Program loading doesn't always seem to load the program."

[2017-02-11 02:16] mrmoss opened #168 "Drag and drop doesn't work correctly when page is zoomed."

[2017-02-11 02:19] mrmoss opened #169 "Google Docs style multi editing of code."

[2018-04-07 02:21] #78 closed, assigned to raikaDial